
@{
    ViewBag.Title = "SignUp";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

 

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <style>
        @@media screen and (min-width: 60em), print {
            .flex-l {
                display: flex;
            }
        }

        .bg-near-white {
            background-color: #f4f4f4;
        }

        @@media screen and (min-width: 60em), print {
            .w-50-l {
                width: 50%;
            }
        }


        .self-center {
            align-self: center;
        }

        @@media screen and (min-width: 60em), print {
            .tr-l {
                text-align: right;
            }
        }

        /*    @@media screen and (min-width: 60em), print {
                    .tl-l {
                        text-align: left;
                    }
                }*/


        @@media screen and (min-width: 60em), print {
            .pv6-l {
                padding-top: 8rem;
                padding-bottom: 8rem;
            }
        }

        @@media screen and (min-width: 30em), print {
            .ph5-ns {
                padding-left: 4rem;
                padding-right: 4rem;
            }
        }

        @@media screen and (min-width: 30em), print {
            .pv5-ns {
                padding-top: 4rem;
                padding-bottom: 4rem;
            }
        }

        @@media screen and (min-width: 30em), print {
            .pt3-ns {
                padding-top: 1rem;
            }
        }

        .ph4 {
            padding-left: 2rem;
            padding-right: 2rem;
        }

        .pv4 {
            padding-top: 2rem;
            padding-bottom: 2rem;
        }


        html, body, div, article, section, main, footer, header, form, fieldset, legend, pre, code, a, h1, h2, h3, h4, h5, h6, p, ul, ol, li, dl, dt, dd, textarea, table, td, th, tr, input[type="email"], input[type="number"], input[type="password"], input[type="tel"], input[type="text"], input[type="url"], .border-box {
            box-sizing: border-box;
        }

        div {
            display: block;
        }

        body, input, textarea, button {
            font-size: 15px;
            font-family: karla, -apple-system, BlinkMacSystemFont, "Segoe UI", "微軟正黑體", "Microsoft JhengHei", sans-serif;
            line-height: 1.6em;
            color: #3f3f3f;
        }

        @@media screen and (min-width: 60em), print {
            .bg-white-l {
                background-color: #fdfdfd;
            }
        }

        .mt0-ns {
            margin-top: 0;
        }

        .mb4 {
            margin-bottom: 2rem;
        }

        .b {
            font-weight: bold;
        }

        .f4 {
            font-size: 1.25rem;
        }

        .mb3 {
            margin-bottom: 1rem;
        }

        .mr3 {
            margin-right: 1rem;
        }

        .pa3 {
            padding: 1rem;
        }

        .bg-fb {
            background-color: #3b5998 !important;
        }

        .white {
            color: #fdfdfd !important;
        }

        .button {
            display: inline-block;
            background-color: transparent;
            border-width: 1px;
            border-style: solid;
            border-color: initial;
            border-radius: 4px;
            cursor: pointer;
            padding: 0.75rem 1.5rem;
            line-height: 1em;
            opacity: 0.9;
            white-space: nowrap;
            transform: translateZ(0);
        }

        a {
            color: #0050a2;
            text-decoration: none;
        }

        .f5 {
            font-size: 1rem;
        }

        .dib {
            display: inline-block;
        }

        .mv0 {
            margin-top: 0;
            margin-bottom: 0;
        }

        .mr4 {
            margin-right: 2rem;
        }

        .br {
            border-right-style: solid;
            border-right-width: 1px;
        }

        .b--light-silver {
            border-color: #aaa;
        }

        form {
            display: block;
            margin-top: 0em;
        }

        .f6, .progress text {
            font-size: 0.875rem;
        }

        label {
            display: block;
            margin-bottom: 5px;
        }

        label {
            cursor: default;
        }

        .w-100 {
            width: 100%;
        }

        .w-50 {
            width: 50%;
        }

        input, textarea {
            padding: 0.25rem 0.5rem;
            margin-bottom: 0.5rem;
            border: 1px solid #e0e0e0;
            font-size: .875rem;
            border-radius: .125rem;
            color: #767676;
        }

        .mt3 {
            margin-top: 1rem;
        }

        .green {
            color: #229f2a;
        }

        .f7 {
            font-size: 0.75rem;
        }

        .gray {
            color: #767676;
        }

        p {
            display: block;
            /*margin-block-start: 1em;
                    margin-block-end: 1em;
                    margin-inline-start: 0px;
                    margin-inline-end: 0px;*/
        }

        .mv4-ns {
            margin-top: 2rem;
            margin-bottom: 2rem;
        }

        .bt {
            border-top-style: solid;
            border-top-width: 1px;
        }

        .b--light-gray {
            border-color: #e0e0e0;
        }

        .black {
            color: #101010;
        }

        .mr3 {
            margin-right: 1rem;
        }
    </style>
</head>

<body class="w-100">

    <div class="cf flex-l bg-near-white">
        <div class="w-50-l pv6-l pv5-ns pv4 ph5-ns ph4 tr-l self-center tc tl-l">
            <a class="nowrap" href="/">
                <h1 class="mv0 f5 dib mr4 br b--light-silver">
                   <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" width="450px" height="300px" viewBox="0 0 500 500" enable-background="new 0 0 500 500" xml:space="preserve"> 
                       <image id="image0" width="500" height="500" x="0" y="0" href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAfQAAAH0CAYAAADL1t+KAAAABGdBTUEAALGPC/xhBQAAACBjSFJN AAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAABmJLR0QA/wD/AP+gvaeTAAAA CXBIWXMAABYlAAAWJQFJUiTwAACAAElEQVR42u39eZxlx3XfCf5OVGbWClRVZhWAWgEQAEEQBAku okhQEilSIkWJ1NLa7LZk6zP2fFqLp/2R7Z722J72x+5W+zMz9vTMeJFnJHlpq21RtjaK1uI2N3Df CWEhAAJcUJWFrXKp5WVVZVbdM3+ccyLivvcyK/PdWjIrf+8DVL4XN+J8z7nvxrvnnjgRIb3enKJ6 iQBQQQOF1OUKNEkgUEABVYGIAlAoBEkUqt5CASQAjTVUSEsWRCEqaIHJJ5988sknn/yR+SkaqItX ACoNRF1gSBVAtAHU1ZAGIoC4stmYSmGIAn5ckD8CjWQq+eSTTz755JPfnZ9CZoqW6p6GCFQAbUyw CqBIlYLSUkkrNkSgqhAp2jQAVDRXNN9CQD755JNPPvnkd+cncffBbvBWXAsXFwxVSCt4oNAG+SX5 Xw8JiHsdCoiohRJCsqp5HGY7+eSTTz755JPfkS+9hVnVxu7s+aFfkCmiCk2mYXgDIv5ZgKQWw7cW ppBKEWNeiHqBeOjAy9EYhnzyySeffPLJ78SXXm9eoQrkRibEa+S/4lq6ylAk10xcNS1NwiKXGY5L vELx5D4H+eSTTz755JPfjZ80ewSWHydiXgM8gw5Q+09NmEaMIMqhUDSlCeyNSNFIGkClZO1ZCCIU JJ988sknn3zyu/Kl15tVRLBAAZHiTIgLUFXLnhPJSXZ2XA2gA05IVcez94ut5pVINAqfg3zyySef fPLJH5Uvvd6cZrlpUCs7VkgRQRg0QULb1iGfJQeggYoUL2aAQT755JNPPvnkj8pPGsVSBAiC4LPj xHPrpBxXNKiaIUIAAMwlUUA0Jrpbdl44JdmqCCOQTz755JNPPvmd+Elql6FBBUiWMl+qZ8Us616y Qv0vSaZ5IxZsyDL9PZpkHofEajfkk08++eSTT34XvpztzVtCvKJars4PFhGthhqqicCWsNO6gR2X WhMtB/v+Rq4f+eSTTz755JM/Oj/ZgcIpHoNn4EGRV7hB1EH2FEqWnmblBShJelk1uBqe4aelhHzy ySeffPLJ78a35Dlohpa0eCmK+CR200C9rSAHBDxTz0IIvraswAbzwwyJ9wnaOCdn6JFPPvnkk08+ +Z34vd6cFnHIHoBWEHceqjeoysXm2ClgO8A0UBWk4oRYWMDn4YXcWhT55JNPPvnkk9+Nn1ALE/cs QioEEHg+nXoYQYs0qcoFSJ4EkI3x4+GdNIB5Gy11ySeffPLJJ5/8rvy8fSoA5C3bshTNZQJ77NdU vIbGF4dX1zbCAtmJUKCeXBdRBkHKypNPPvnkk08++d35KR+FP77H5+wtSCt93jPyYdvDmbCU9e7T EEbK0f68zI1a6n0TlpBPPvnkk08++V34Pu+9NBAgz3u3v4rG/0Idou5lQD28IJVbIlZXiqa2uo1p aVl+/i5y+8knn3zyySef/E78vJZ7XrbO6P5ZUNSqdK4+S/VJBRBNGR4HBQpVsUlyDXyOnr/JGXrk k08++eSTT/6o/JSL1JvGx/gMRRNeAFoSbN3YXChIavXL3Dj708BWxFFVpNQAolCkwiSffPLJJ598 8jvxU2mcTBGY4yBqnkXAxLdo08qLMAdCAW0qJYAIBwA+VuAKJcA8lVo2+eSTTz755JPfmZ8A9Qx5 W4QODjXfwO78ktVzB0EaU1SdniScBERSvgRRiqXuwFTGmFTyySeffPLJJ78bP8HFiKpn1blSKSbD i6fOiytsLxGUtWdV8xBA5PSpALGMnUgxJjL3TJgJIZ988sknn3zyu/FlYWFOG/WK2QXwV8QL6kP9 dXJd8dCCry4f3kMOGwggsfK85jqSAPLJJ5988sknvxs/aRamLQ8AMIUUlQDJ8lEXWxKAmjGSmxZj BNBW1l5UUpBPPvnkk08++d35ZaW4FJ5AeBdVowa5ouZ/BZHNlxCz7MQG/aNeIfo4gRun8HBCtVAd +eSTTz755JM/Mt9z5xXiAfyccq+A5DlyLiiDfO2b3MZD+dD24vDhsCgQo/g5E1AFjS1OSz755JNP Pvnkd+RLrzdno/FJ4/aPVlujI2fsxTCAQ+tXXSSVjPK3CBC30d6QTz755JNPPvld+CkaiJZChKeR pYsdd6HmdWg55pK1Lq/KfKq9/2uERlA0Jp988sknn3zyO/ETUMIABjJSoKO6plAolHS0KFTKjjLt rLzwS6wsRRo/4OEEq0k++eSTTz755Hfjy8LCnEIr70EBn7EeroCJbQBbTN5m2kGKk9B++q/iAq14 g31wL8ITAzwXgHzyySeffPLJ78RPqvnebv8mQJCsTF0Rr60CRCp904iL8Jl3ETOAaxp2ZQ+kUFRi xxk3jHzyySeffPLJ78TPofrW47w0yJutRzsBRJvKLWhcqRjgj4qAjQlI9jTExYTjgUoZ8sknn3zy ySe/Oz+FzFhHFqp2UMScg0ZzxMCG6suct1olrdgQgW3AXrRpYJ5JHVnIc+7IJ5988sknn/xO/BQT 3u0Gb8W1cHHBUIWgDPADGpu8uMrxryltCth78RBDVlvVPA6znXzyySeffPLJ78iX3sKsamN39vzQ L8gUUYUm0zC8AfF5cTZ9TqFZnCnk4/9unpgBZpmHDrzcZ96TTz755JNPPvnd+NLrzduofW4kJaU+ nAGBjQkgcvF8TRwXbKppaRIWucxwXOIViif3Ocgnn3zyySef/G78pNkj8DVmxNerE/cqoPaf+uT4 vCitl0Ohvvl6TvTLIQb3HBpYZl8clhhf8Cn35JNPPvnkk09+J770erOKCBYoIFKcCXEBqmrZcyKt SfACNYAOOCFVnbJandtqXolEo/A5yCeffPLJJ5/8UfnS681plpsGtbJjhRQRhEETJLRtHbIIv+3E riLFixlgkE8++eSTTz75o/KTRrEUAYIg+Ow48dw6KcdtOnvxPCIEACC2foFobBBn2XnhlGSrIoxA Pvnkk08++eR34iepXYYGFSBZynypnhWzrHvJCvW/JJnmjViwIcv092iSeRwiIJ988sknn3zyu/Pl bG/eEuIV8MhAy1twEa2GGqqJQLQ66lEABTwpIDTRcrDvb+T6kU8++eSTTz75o/OTHSicek3aCAjk FW4QdZA9hZKlp1l5AUqSXlYNroZn+GkpIZ988sknn3zyu/EteQ6aoSUtXooiPondNFBvK8gBAc/U sxCCry0rsMH8MEPifYLGzjE5Q4988sknn3zyye/E7/XmtIhD9gC0grjzUL1BVS42x04BVYFIA1VB Kk6IhQV8Hl7IrUWRTz755JNPPvnd+Am1MHHPIqRCAPFd4KAeRtAiTapyAZInAWRj/Hh4J7abnIUd aiPIJ5988sknn/xu/Lx9KgDkLduyFM1lAnvs11S8hsYXh1fXNsIC2YlQoJ5cF1EGQcrKk08++eST Tz753fkpH4U/vsfn7C1IK33eM/Jh28OZsJT17tMQRsrR/rzMjVrqfROWkE8++eSTTz75Xfg+7700 ECDPe7e/isb/Qh2i7mVAPbwglVsiVleKpra6jWlpWX7+LnL7ySeffPLJJ5/8Tvy8lntets7o/llQ 1Kp0rj5L9UkFEE0ZHgcFClWxSXINfI6ev8kZeuSTTz755JNP/qj8lIvUm8bH+AxFE14AWhJs3dhc KEhq9cvcOPvTwFbEUVWk1ACiUKTCJJ988sknn3zyO/FTaZxMEZjjIGqeRcDEt2jTyoswB0IBbSol gAgHAD5W4AolwDyVWjb55JNPPvnkk9+ZnwD1DHlbhA4ONd/A7vyS1XMHQRpTVJ2eJJwERFK+BFGK pe7AVMaYVPLJJ5988sknvxs/wcWIqmfVuVIpJsOLp86LK2wvEZS1Z1XzEEDk9KkAsYydSDEmMvdM mAkhn3zyySeffPK78WVhYU4b9YrZBfBXxAvqQ/11cl3x0IKvLh/eQw4bCCCx8rzmOpIA8sknn3zy ySe/Gz9pFqYtDwAwhRSVAMnyURdbEoCaMZKbFmME0FbWXlRSkE8++eSTTz753fllpbgUnkB4F1Wj Brmi5n8Fkc2XELPsxAb9o14h+jiBG6fwcEK1UB355JNPPvnkkz8y33PnFeIB/Jxyr4DkOXIuKIN8 7ZvcxkP50Pbi8OGwKBCj+DkTUAWNLU5LPvnkk08++eR35EuvN2ej8Unj9o9WW6MjZ+zFMIBD61dd JJWM8rcIELfR3pBPPvnkk08++V34KRqIlkKEp5Glix13oeZ1aDnmkrUur8p8qr3/a4RGUDQmn3zy ySeffPI78RNQwgAGMlKgo7qmUCiUdLQoVMqOMu2svPBLrCxFGj/g4QSrST755JNPPvnkd+PLwsKc QivvQQGfsR6ugIltAFtM3mbaQYqT0H76r+ICrXiDfXAvwhMDPBeAfPLJJ5988snvxE+q+d5u/yZA kKxMXRGvrQJEKn3TiIvwmXcRM4BrGnZlD6RQVGLHGTeMfPLJJ5988snvxM+h+tbjvDTIm61HOwFE m8otaFypGOCPioCNCUj2NMTFhOOBShnyySeffPLJJ787P4XMWEcWqnZQxJyDRnPEwIbqy5y3WiWt 2BCBbcBetGlgnkkdWchz7sgnn3zyySef/E78FBPe7QZvxbVwccFQhaAM8AMam7y4yvGvKW0K2Hvx EENWW9U8DrOdfPLJJ5988snvyJfewqxqY3f2/NAvyBRRhSbTMLwB8XlxNn1OoVmcKeTj/26emAFm mYcOvNxn3pNPPvnkk08++d340uvN26h9biQlpT6cAYGNCSBy8XxNHBdsqmlpEha5zHBc4hWKJ/c5 yCeffPLJJ5/8bvyk2SPwNWbE16sT9yqg9p/65Pi8KK2XQ6G++XpO9MshBvccGlhmXxyWGF/wKffk k08++eSTT34nvvR6s4oIFiggUpwJcQGqatlzIq1J8AI1gA44IVWdslqd22peiUSj8DnIJ5988skn n/xR+dLrzWmWmwa1smOFFBGEQRMktG0dsgi/7cSuIsWLGWCQTz755JNPPvmj8pNGsRQBgiD47Djx 3Dopx206e/E8IgQAILZ+gWhsEGfZeeGUZKsijEA++eSTTz755HfiJ6ldhgYVIFnKfKmeFbOse8kK 9b8kmeaNWLAhy/T3aJJ5HCIgn3zyySeffPK78+Vsb94S4hXwyEDLW3ARrYYaqolAtDrqUQAFPCkg NNFysO9v5PqRTz755JNPPvmj85MdKJx6TdoICOQVbhB1kD2FkqWnWXkBSpJeVg2uhmf4aSkhn3zy ySeffPK78S15DpqhJS1eiiI+id00UG8ryAEBz9SzEIKvLSuwwfwwQ+J9gsbOMTlDj3zyySeffPLJ 78Tv9ea0iEP2ALSCuPNQvUFVLjbHTgFVgUgDVUEqToiFBXweXsitRZFPPvnkk08++d34CbUwcc8i pEIA8V3goB5G0CJNqnIBkicBZGP8eHgntpuchR1qI8gnn3zyySef/G78vH0qAOQt27IUzWUCe+zX VLyGxheHV9c2wgLZiVCgnlwXUQZBysqTTz755JNPPvnd+SkfhT++x+fsLUgrfd4z8mHbw5mwlPXu 0xBGytH+vMyNWup9E5aQTz755JNPPvld+D7vvTQQIM97t7+Kxv9CHaLuZUA9vCCVWyJWV4qmtrqN aWlZfv4ucvvJJ5988sknn/xO/LyWe162zuj+WVDUqnSuPkv1SQUQTRkeBwUKVbFJcg18jp6/yRl6 5JNPPvnkk0/+qPyUi9Sbxsf4DEUTXgBaEmzd2FwoSGr1y9w4+9PAVsRRVaTUAKJQpMIkn3zyySef fPI78VNpnEwRmOMgap5FwMS3aNPKizAHQgFtKiWACAcAPlbgCiXAPJVaNvnkk08++eST35mfAPUM eVuEDg4138Du/JLVcwdBGlNUnZ4knAREUr4EUYql7sBUxphU8sknn3zyySe/Gz/BxYiqZ9W5Uikm w4unzosrbC8RlLVnVfMQQOT0qQCxjJ1IMSYy90yYCSGffPLJJ5988rvxZWFhThv1itkF8FfEC+pD /XVyXfHQgq8uH95DDhsIILHyvOY6kgDyySeffPLJJ78bP2kWpi0PADCFFJUAyfJRF1sSgJoxkpsW YwTQVtZeVFKQTz755JNPPvnd+WWluBSeQHgXVaMGuaLmfwWRzZcQs+zEBv2jXiH6OIEbp/BwQrVQ Hfnkk08++eSTPzLfc+cV4gH8nHKvgOQ5ci4og3ztm9zGQ/nQ9uLw4bAoEKP4ORNQBY0tTks++eST Tz755HfkS683Z6PxSeP2j1ZboyNn7MUwgEPrV10klYzytwgQt9HekE8++eSTTz75XfgpGoiWQoSn kaWLHXeh5nVoOeaStS6vynyqvf9rhEZQNCaffPLJJ5988jvxE1DCAAYyUqCjuqZQKJR0tChUyo4y 7ay88EusLEUaP+DhBKtJPvnkk08++eR348vCwpxCK+9BAZ+xHq6AiW0AW0zeZtpBipPQfvqv4gKt eIN9cC/CEwM8F4B88sknn3zyye/ET6r53m7/JkCQrExdEa+tAkQqfdOIi/CZdxEzgGsadmUPpFBU YscZN4x88sknn3zyye/Ez6H61uO8NMibrUc7AUSbyi1oXKkY4I+KgI0JSPY0xMWE44FKGfLJJ598 8sknvzs/hcxYRxaqdlDEnINGc8TAhurLnLdaJa3YEIFtwF60aWCeSR1ZyHPuyCeffPLJJ5/8TvwU E97tBm/FtXBxwVCFoAzwAxqbvLjK8a8pbQrYe/EQQ1Zb1TwOs5188sknn3zyye/Il97CrGpjd/b8 0C/IFFGFJtMwvAHxeXE2fU6hWZwp5OP/bp6YAWaZhw683Gfek08++eSTTz753fjS683bqH1uJCWl PpwBgY0JIHLxfE0cF2yqaWkSFrnMcFziFYon9znIJ5988sknn/xu/KTZI/A1ZsTXqxP3KqD2n/rk +LworZdDob75ek70yyEG9xwaWGZfHJYYX/Ap9+STTz755JNPfie+9HqziggWKCBSnAlxAapq2XMi rUnwAjWADjghVZ2yWp3bal6JRKPwOcgnn3zyySef/FH50uvNaZabBrWyY4UUEYRBEyS0bR2yCL/t xK4ixYsZYJBPPvnkk08++aPyk0axFAGCIPjsOPHcOinHbTp78TwiBAAgtn6BaGwQZ9l54ZRkqyKM QD755JNPPvnkd+InqV2GBhUgWcp8qZ4Vs6x7yQr1vySZ5o1YsCHL9PdoknkcIiCffPLJJ5988rvz 5Wxv3hLiFfDIQMtbcBGthhqqiUC0OupRAAU8KSA00XKw72/k+pFPPvnkk08++aPzkx0onHpN2ggI 5BVuEHWQPYWSpadZeQFKkl5WDa6GZ/hpKSGffPLJJ5988rvxLXkOmqElLV6KIj6J3TRQbyvIAQHP 1LMQgq8tK7DB/DBD4n2Cxs4xOUOPfPLJJ5988snvxO/15rSIQ/YAtIK481C9QVUuNsdOAVWBSANV QSpOiIUFfB5eyK1FkU8++eSTTz753fgJtTBxzyKkQgDxXeCgHkbQIk2qcgGSJwFkY/x4eCe2m5yF HWojyCeffPLJJ5/8bvy8fSoA5C3bshTNZQJ77NdUvIbGF4dX1zbCAtmJUKCeXBdRBkHKypNPPvnk k08++d35KR+FP77H5+wtSCt93jPyYdvDmbCU9e7TEEbK0f68zI1a6n0TlpBPPvnkk08++V34Pu+9 NBAgz3u3v4rG/0Idou5lQD28IJVbIlZXiqa2uo1paVl+/i5y+8knn3zyySef/E78vJZ7XrbO6P5Z UNSqdK4+S/VJBRBNGR4HBQpVsUlyDXyOnr/JGXrkk08++eSTT/6o/JSL1JvGx/gMRRNeAFoSbN3Y XChIavXL3Dj708BWxFFVpNQAolCkwiSffPLJJ5988jvxU2mcTBGY4yBqnkXAxLdo08qLMAdCAW0q JYAIBwA+VuAKJcA8lVo2+eSTTz755JPfmZ8A9Qx5W4QODjXfwO78ktVzB0EaU1SdniScBERSvgRR iqXuwFTGmFTyySeffPLJJ78bP8HFiKpn1blSKSbDi6fOiytsLxGUtWdV8xBA5PSpALGMnUgxJjL3 TJgJIZ988sknn3zyu/FlYWFOG/WK2QXwV8QL6kP9dXJd8dCCry4f3kMOGwggsfK85jqSAPLJJ598 8sknvxs/aRamLQ8AMIUUlQDJ8lEXWxKAmjGSmxZjBNBW1l5UUpBPPvnkk08++d35ZaW4FJ5AeBdV owa5ouZ/BZHNlxCz7MQG/aNeIfo4gRun8HBCtVAd+eSTTz755JM/Mt/noQOCBPU4fnYIVKFSlq7L BPcqtAIHIpaogxZDrJ66MZLXnrV5ewryySd/7fxGFRcuXsS5xSWcW1rE+cVFKIBtExPYNjaG7eMT 2D4xbt39BrSffPLJ7+P3enMmJWmrXVUXeZK7oGzALm0O+oqkklH+FgEthcgnn/yWvKWmwYvzp3Bi fh4n5ufw/NwpTJ+aw5mFCzi/tIhzS0s4v7SE2KIRw1WCCLB1bBzbx8exbWICu7ZuxW17duPQnj04 uGcPDuzdiwO792DrxJZ1ZT/55JO/dr7d0AfA7mnUlRVQKWpp1FaBSIM88d0H8n2RO1euyAslzTsZ PBnkk7/Z+OcvXsRTJ07gsekTOD4zi+n5Obx0+gwuxe4LXfmqiPWgh9ovglt27cKBPXtwZHIS9x06 gFcfOoRdW7duivNPPvk3Cl96vVmt929VkSoMYP820Bw6yArVSojAJrdLpYKNEeSsPwC2Wo60FYKV kU/+ZuFfvHQJT7/wAh49fgKPHT+Gr7/4EpqmGZ3fct3juCL18bOn3ydhmP0iglfs24fXHD6MVx8+ hFcfvA1bxyduiPNPPvk3Kl8WFuYUWt/xveNDvLX/ZDThIdhMOzgAleDyqSnt67CCU2zFHCtKXod8 8m9k/qmz5/DJrz+NL33r23jqhRewuHRx7XwIIH18eyCoxtOWsb8RWCbsaPaPIeGuW2/Fg0cP43vu vRe37rl5Q51/8snfDPwccs/qOLwKIli5Ak3yQIDCPA1RV1KQ3PtA6BCT3iUCCG1hou2QAvnk32j8 xaWL+OI3v4mPPfk0Hjn2HJpGL8/3fxvV9hSVa2X/KviiwCtvO4i33/dKPHT3K7Bj67Z1ef7JJ3+z 8fMNPWPDK2jsUT4y9op/AQA2QpBsJv0QxYaEG1ysuqHWND9WkE/+DcFXKL42fQIPP/V1fOaZr2Nh cWkov/a+oUCsClV6b5sf0vv5OuxXYRX2Xyn++JYteOMdd+Dtr7oXDx49ii0pbervn3zyrydfemfn tI4OVKKtrzf+wyHuFUBz3RzqQ3FKNLRvAElxPFIEigHRpo4ukE/+RuUvXrqEjz7xNXzwK1/FS2dO X1k+Kr5oSXoV5KG7bH/1dHCt+Xt2bMcPvOYBvPfBB7BzfOum+v7JJ3898GWhN5cjBTEQFzl62YOX 9jGDRq/O+nm7xg2AhQQaMcMAwBVSVUQWgFgx+eRvSP75i0v4z489jj/8yldxqncOKhXf69QdO/Ol eO75R2AU+yshAlkX/O0TW/GeB16D9z/4Wty8bccN/f2TT/564ktvYVa1gXkBJhXFPbCMO03WWKOh u+g2fU6RU+bjZ0SKGEW4Ef4jIvCF5MONMS+ffPI3Er93fhF//GeP4o8feQSnz19o83MHuwxfna+r 4DdS7p9S9EkYYv864W8bG8O77r8f73/96zC1c+cN9f2TT/565EuvN6/Wo6NRSZvPd38BpMrS8wg+ IvZmqmlpEhalyosIbfJbD+XlXxTyyV///N7iIv7gS1/Gn/zZ41i4eGFFviZLfunMByrP3O3XlNus d/742Ba8/d5X4Sff/CZM7ty5ob9/8slf1/yzvTlzvPNENy0KVd3ZJUFF3CsoyuWxAS1KSGWXZegp UngZPnAgqpGETz75657/ya9/Hf/m05/GqbO9wlf3mIfxo7UCjUQHdq19vmmj4us8V5481mD/BuLv nNiKn3rzm/He170GKaUN9/2TT/565/ta7l6kLhe1UgJVRfIfgTqrVqBQb9CvQqVKa8mLHG6QaFSp RD7565A/PTuHf/nxj+PR6em+rPLSgytRAx17WX4lYxT7Nyr/6L59+Cvf+9141YEDG+L7J5/8jcKX nj+h5+xYHVQoJ9FoiSAMmiChbeuQz5ID0MBWwRluNPnkrzf++YtL+L0vfhkf/PJXcLFphvPzzauC DuNrA019fG+73M1wVfZvUL4AeMd99+FnHnordm/fti6/f/LJ32j8EnKvdEIWEg3bzc3rsOT6oZ5J 7rQCSNSsbI2wgpqHQT75643/xW9+C7/x8MN4+czZFfnDuEVcyTpv8ePdEH72tldp/0bn79y2DT/7 trfiXa++D6h+8K73908++RuRL72FWc3pqy3vXCCiaLQqcm8jw8Jz6HvFmrU2dC990+vdmJg0m8cM yCf/+vMv6iX82099Fn/0yJ+1+Kba1efXHvhm4r/lrrvwC+98B3bkDWE25/VHPvld+HK2N29D9fHI X+/l4CJiVlwRa53bPOrqaOiLiqO1poN/c6oO+eRfZ/5LZ0/jf/nj/4xnXnoJLh6NdaHl+Y2Yx91/ fDm+hhvufE0+DaXP/k3Iv3XPzfjld78bd916y6a8/sgnvyvfln6tntvtcN8Dvk+Qz8WeMZ/Z4S1U yg4NRYQJIr7ClLchn/zrzP/cM9/AP//wR3Fu8fwgP9+IsngI8lLN1RJtdWdtv23x4ckt/fare/eb mD8+lvAzDz2EH3zdA5vq+iOf/CvBl97ZOZXk80qhfnBQndI3413u0qVMJHsbKoA2CvEy2+zJ28XY gWtFPvnXi39x6RL+7Wc+jT965LFufK34uA7232D8N7/iDvziu96JnR6Cv1GvP/LJv6L8Xm9OS2WX KeZJRGkW38exjxZyEwVsrecG9f6ugBlimz8UubUo8sm/HvzZ3gL+b//pj/DMSy8ZKbzk1fCznm2+ 73PYGtrKfIWHp5exn/wW/5abbsbfet8P4ejU5A15/ZFP/hXnt7ZPNecBkqUKIJrLBFJS6MUFamkr qqgz+kqFyrfwTj00Q5B88q8R/8X50/iVP/xDvDB/uvSmmh9e8HJ8oKzF0sX+ujeTP8DftW0C//0P /RBedeDWG+r6I5/8q8Fv3dBL/D7opUxg8kMpEaDJ28DBx9IUOWOv1jJCA4LBhS1aHgf55F99/rMv ncT//KE/xKlz51bP14ofUnUFfu5oQ+xXsbprsX8T88fHxvHXf+DdeOOdd9wQ1x/55F8t/kBSnEYf 1OwgQCQ8g1oPdRU8J2bA3YiXqRN70MQoW8t+8sm/RvzHjk/j//6f/gQLS4uD/S+YwUfcvNp5pnXo WNU3Tgrvujjkq7ef/Mvykwh+/p3vwPfe96oNff2RT/7V5Cc7KlkXQWlkf20uXPSw3HF9WRsbK5DK GJcs8d4V866pUI8YWGIA+eRfK/5nnvkGfuUPP4TzS4ttvncMd6IL37tOg8LPnS74yflNIIfw0Wc/ QP4a+Zf0Ev7Zhz+C3/vyVzbs9Uc++Vebn9dy91hA0MMNrzrWoAPSdsbVPYqU4XFQoB5ms3R9syPi BV6RfPKvIv9PH30Cv/GJT+DSJQ9qSV+GaL5bDfKXYw7wUTraivaT34n/w69/EH/xbQ9tqOuPfPKv BT/lotpFhnO8ozXhBaAlIQ+DuQZI/tyv2UOxPw3EV89RpNQAYrNRM5N88q8i/+Gnn8FvPPxxXGoa JKn4/QKX4WtVT1biYxX2k9+Z/4df+Sp++/Nf2DDXH/nkXyt+Ko3LelDiDkMOBCggaEx85UWYA6Gw WfIhp/LSoXl1Oo1SH9kvQQbyyb96/K9++xj+2X/5MBqNvQ/C612Bjz4+OtqPyn7yrwj/P3zhC/jT xx9f99cf+eRfS76NgHkPSt7ZVCV3QqCk1+dHfGmqBBixrBirCnEPRYIoxdIYuC/GmFTyyb8a/Gde fBn/6E/+BJcuXcq0Zfmo+K2/kms2Xe0n/4ry/+XHHsZnn/3Gur3+yCf/WvMTXIyoVtNSFJqkzJdT V1Cie5mcvPasah4CsA3bfTxBiscRxqhUHdWFkE/+leZPz8/jH37oQzi/tJSndkSn6ufDmU3w3a2u +YDE9E/vlN67lrMfffaTf8X5DRT/nz/9L3js2PF1d/2RT/714MvCwpzmHV2yCxC9z+MF9aH+Ormu eMd1Pzq8h+jKKhhIhFFAEkA++VeSP9tbwN/9D7+Ll8+e3ZT2bzb+9okJ/IMf+1HcuX//prSffPKD nzQL05YHAJhCikqAZPmoiy0JQM0YyU2LMQLkPWAB8zYAa0M++VeQf+HiRfzKB/8TTp49Mxpfl+Fr LlrZftT1yL8W/IXFC/iVP/wQTp49fd2vP/LJv578lI+m8ATCu6gaNcgVNf/rgTWxoIG4oqrFo6iI Pk7gxik8nFDw5JN/Jfj/v489jOdmTg7yq8+q1gmG8mUZfqV75mvhI+zHMvaTf1X58wsL+H//6Ydx 8ZIO52+S65/8zc333HmFeAA/p9wr8thVMArI17vJbTyUD5+MEoaEw6JAjOLnTEAVNKIgn/wrxf/I E1/DJ558ajg/e7HRUUbgN318P6AaJq5gP/lXnf+1E9P47c99ftNe/+STb/PQNVlIQFpOhXnL3hER inpUTaVSHOF8SOm7tWFix6C+mbtzpPGD5JPfkT89O4d/+YlPlgv/CvLV+bFmREa05AMiQv515v/+ l7+Cr37ruU13/ZNPvj+hAxBttQG0DgYAKnbc0/DN69ByzHuZ1uVVmU+193+N0NQKkU9+B/7ixSX8 4z/5U5xfWsrltU6qK/P1MnxxvtR8rGw/+deHr02Df/JfPoyZs2ev2fV3va9/8skPVgJKGMBARgp0 VNcUCoWSjhaFSuU6t7LyxGtaWYo0fsDDCVaTfPK78H/94U/i+OxMi9/UfC+LaSTo46Or/Ri0n/zr xz997hz+l//8v6PRqHljX//kkx/8JBKbsTus0XxQBVBpbP5nUyuYx/Ar5ar4gqsTOzLB4w+q1fo4 /p588rvwP/HkU/jYE19DZJCi6kQtvgkrPvIofB1iv3r3I39d8Z888Tx++/NfuOGvf/LJr/kpEkqi QBIgSFamITXrgEilb5owwGfeZe/bO5fA4/3hgRSKSuw4A5BP/qj80+fO41998pPGT5fhyyr54nwd wk9D7Bclf53yf/+LX8ZzMzM37PVPPvn9/Byqbz3OS+Or02SOORraoKTpuecQfkP2kK2T2XiXeQ6C 8CT8TaUM+eSPyv93n/kMzp6/MBJfa74O4aPN12Xsx4j2k3/1+Zf0En794w9nWTfa9U8++f38FDJT 7jlqB0XMOWjUvQrAxqrKnLdaJa3YEJsjGmNngG3wbpPrraI54MX7IJ/8tfCffuFFfPRrT9b3BJOg q+Oj5kvFxxB+MNT5Wuwnf33zv3bieXzsa0/fcNc/+eQP46eY8K6lN7SEiwuGqnu6VccrC0N5qcDd bVfA3ouHGLLa1ao45JO/Vv6lRvFrH/s4mqZ4uCULtOJrxUcfHxUfl+HbnoQuR/Kdo2U/+euW/5uf +TR6Fy7cMNc/+eQvx08qWnnBppBKzIhPXm4ghW2IEIP9mqI0Xk3ucAJ42EEM7IP9VhQWmCzyyV8L /48f/TN8++SMy4oQFABp8gWfvdjgax8fYt4w1Lzpy/F1iP3kbwj+qd45/PvPfPaGuf7JJ385frLJ 7pGR54/1jZQBfYF3DfEHfmS4eH3JMBfv2yaZTLWR+uyKx6o2bjz55K+BP9/r2WpgKhBZhu+JJM3l +CKIhRNX5KtYNmptP/kbiv+/P/4Enn3ppQ1//ZNP/kr8pNDsDQCAhHcQynjYIC8OEd51lENduQDZ m0hYAQBpzDiJwxLjCz7lnnzyV8n/zc98DucWl5BDq7o8X7Tio+Kj4msfH0P4GGI/+RuK32iDf/nw Jzb89U8++SvxU843jfEuLd3OwgeWNye5k0Q+XnTMqJv1N3n+j8AcDol5dwqgSe7BVKvckE/+Zfgv nj6FTz31VOajn1/Bi47OR8VX50NyyDbzsXr7yd9Y/KdfeBGPfPvYhr3+ySf/cvwUH0SB2KqlVkpU XYiNBZTjPhlEc9cqBlWGNYiBfAsfaO3KaFGGfPIvx/+9L34ZF1UryDL8NISvq+BbtVXbT/7G4//O F7+0Ya9/8sm/HD9pkZt1EQA5iQUApHgA5YG/6dO9cottkACisVi8GSXusVTzUEA++avhz5w9i48/ 9dQAvyjgfG3zJfhS8bOifXwpNq7WfvI3Fv/J50/ga89Pb7jrn3zyV8NP9frKaFABEvLuSVHmitmw l2SF+l+STPNGbEXnLBORNJBg8YMSciOf/JX4f/Dlr+LipUsD/DbYL/qKL8P4unZ+s4z95G88/u98 /isb7vonn/zV8JMt1uAtqjXm447vkfxQFYrIvFMgtY/G20bNlQiF+rulZQm4B0I++Zfhn1o4hw8/ 8cRwfr1CE1bB1z5+0+bn/qXhcUvxmsm/Ifh/duzbePbFFzfM9U8++avlW1JceY6vPAbPwIPPe6tc BRFkT6Fk6UUdy+bLSXq1pa6QzcMrJeSTvxL/Q498BYtLFwsfy/BR+NDSf1p8iTFVL5GK31R8Mb6E HrX95G9oPiD4nS98acNc/+STv1p+ss+aoSUtvvjFUEFJvlNvWzL0zNuIEIKnAAgscy/MkHifbHDf Qw7kk78Sf+HCIv70zx5v81HxxfkaP/NlvCkCUgN8XYYvy9gPIf8G43/hW9/C8bn5dX/9k0/+WvgJ 4iGCONgEILsXRXT5J3cp62yuTGNGNGrcvJatpipBxebZpfBoyCd/Bf5nnn0W55eWBvnaxxe7rhto LMo0yNfL8HUN9pO/ofmiio8+8eS6v/7JJ38t/FRXMQ85HuNdjFQJKQrkRJRM0TzlJHkSgO3vWo6H d2KL3+QgWuaST/5y/IefempNfHE+hvFlCF8rfqr4GM1+8jcO/5NPP41GdV1f/+STvxZ+NWPTvFaJ 2k1U9jEB2GO/plwDjY9RheMbYYHsWyhQj/RHlEFs+nsJI5BP/hD+S6dP48npaeP7wgzhjV6W7097 Q/la8WUZvvbZT/4Nx59d6OHRY8fW7fVPPvlr5ad81JoXzyJ7C9JKn/eMfNtQwftdynr3aQgj5Wh/ nmailnofSSvkkz+Eb0/nki/mfEjNixUxkcFXldKb8s1iCF/6+KGV9tnvOpF/4/IffurpdXv9k0/+ Wvk+713a/aBc9wB8TApq/3knEvc8kkOLWyJWV4qmlsVvWkZHtESBsIR88tt8hf/YQnPIKSpZhMn5 yflNIIfw0cdHH7/qSC37vTX5Ny7/c89+E+cvLK2765988kfhp+wHR5599BspiIQYgM+9A3lSScBQ xgrgHSx3JVXXQqCazJPODPLJH+R//cUX8Pz8vLUPaFy3w/gSI1ND+FiGj4qP5e0n/8blX7i4iM8+ ++y6u/7JJ38U/hjqiuEiI7wAAdCgkVjAQbMDAtjjv1aeSNIAac7wMwmCJOZppBSKJDOUfPKH8D/+ 5FO5dYRd7cJfgY9V8CVmN6dyo8iv4fYrBEkSfvm9P5jt1+hz0i/Fbisn5ubwgc98atX81xw+ine/ 9kHvpoJIm8mevPpzrPP/9M8ewRPHjq3a/vc++CDuO3QY+aFApc9+ex/8F0/P43/75CfXfP5/4fvf ja3j4+UHqCUZ+MzTT+Gzz3x9zef/an7/Dz/1NN5x373r6vonn/xR+GO5sSTEHq1iciDiPq8CAsvg s5R8gW+86r9u4X2ETgk5N08F4uNbyT/DO3ju8OSTX/Ehis8/+418E7D6HfgelrIf/FXYHzZL4SdR vOs1r61u5Lm137Eke88AMHP2DD7wmU+umv/gHa/AO1/zmgFPvLyt/lXg0ePH8PjxY6u2/3tf/QBe c+QIhr28eb6ZA8DZ8+fx7z75iTWf/3fc9xrs3La1OjdSnSvg+fl5fPaZr6/5/F/N7/+x49M4e2EJ O7eOr4vrn3zyR+Wn7PWK+axZiXzxx/vqN0YakxE/ZMk7rYQn7j8M0Zk9GaA4GWGMSSWf/Jp/fHYe 872FzI+aTVc+VuCjsr/1t/CR+aWjGVSqg3ZsatdN2DGxbdX8w1OT5Wbe95L+95HUtQb7j07tQ0uJ WmZWv5B2bd2GvbtuWvP5D/vzFy5tnnQ4/1fr+1conjhxfN1c/+STPyo/wcWIKiJJVKDQJIhlGiUW caicbREgOyKqOZEpcvpUgFjGTqQYE5l75YeQfPLb/MePHTePs+LDPde4P9iFvQIfffzoQkP4cJub sD883j5+/cr86gbp3TPXPLpvatX8w3snUSTZ4XJjxCA/7nWrsH/3zh24acf28qMy1HHQAf7hqak1 n3/b4zlkFDfoSpz/q/n9P35set1c/+STPyo/iVgWaZ0pmj3ZxkcERPIYv8aPS7z3nmUhhWpcrjGf G3CPoyk+R/Y3PKxAPvk1/9Fp294y+DFOXZhFyrJ8rfgoY1DD+PlGHPZ7r2nxY8pJ/81VyvmQ+ogC R6ZuWRUfEBycnCo3qhCdp1kNubmrrtr+I5P7csZsdeb6/sgA/+jk5NrP/zLnaZC/xvN/lb//R6dP rJvrn3zyR+UnjU7sb1q+e3Sk7BbkvoS62DqdQvPckahX/SCJ5p6affgIHZJPvr9RVTwxfWKQr7Xc Ffjoxs8PlcPs73+f+VGurXpHpyZXxd9/803YumXLoOxq/ukgX1Zt/5F9+/wJQdpC4gmisr9+HZna v/bz34fI58j5Our5v8rf//GZGcyfX7ju1z/55Hfhl5XiUvgOEs/9pVGsEZtVzIEBQOCeiSkag/7a JpYQoT1ceDihWqiOfPIBfHtmFmfOnR/kV20zXwsfwccy/OqzqnWCofbLcvYPuZOXZ1tE7fp+dGT/ /lXxD+6dbPfUtl8w8OScq63S/iOTUy0+nN+SOoR/ZN++tZ9/HaZpsV+go53/q/z9qwCPHz9x3a9/ 8snvwi/z0D2AH5Xspu+SpYQBomfY3M5o46H8CDKEIeGwqPci90gAQFTQ1PPwyCdfLXt7WX7Tx/cD qoFYgZ+92OgoI9jf/6puXtHR6tvZ0b1Tq+IfmZzMQto/BMXD73+txf7Dk/uynTV/wKY+/tHJyTWf /9ovyIB88XQ8/1f5+3/82PR1v/7JJ78jXwBNFhKQllPhK9mYIghFY/1YqRRHOB9lrKv1RCB2DOpz P51jS9+RT37hP358eoAfCzZoWRa5feMLedVYK0bkD7M/jqGWXcvPb9t33lv27MHE+Phl+Yf27mvZ UewbAg37RVZt/5F9+6pvqJTn8LZiKH/vrpuwY+vEms5/6yX13+qCGeX8X4Pv/9Hp49f9+ief/C58 TzHVVhuEpxEvFV/URgo0J78UX1/r8qrMU1tQh/maWiHyyfdm33z55AA/tr6Umo+V+XWZ6sp8vYz9 xm9VqM5NpUvrrT2tH56cuiz/YIy1o9220mDwJqWrs3/r+Dj233RTW7V4L30yh/CPTE6t6fxr3/df v9MKtvbzf/W//xdOncL5xSVs5v5H/sbmJ6CEAQxkpEBHdU2hUCjpaFGoVK5zlYFaZtNZWaqScKQy nHzyAeDc4hJmFxbWzscgv6n5sWpTlXFV87Ea+6VVrdykWq54/dbe3D41dVl+TFkrctt32Lj5tvmr s//w5GS1alXF97/fePGF1vffzz/qiXGrPf8i/YTiHPiZHO38X6Pvf/rU/Nr5N0j/I3/j85NI7N/q sKZ0OhVApbH5n02tYB7Dr5Sr3X37rD4lJ+IPeTclF64AyCc/+Cfm54GV+DqEr375a5sv/XwTVnzk tdqv7SfDZR9u+15HpvatyJ8YG8dtu3cXuVoYfqK8fpuffxwuY/+Rqf2VrPr8A6fPncOTz59oZeT2 8w/vmxzh/KPFbL+X0c7/Nfr+n5+dv27X/2XtJ5/8y/BTJJREgSTAloN3udWjicXtTZGmKR54g9r7 9c4lyAvUa/UjYX1L8yIR5JMfR56fn/fyZG36+WkI3+dxSroMX1Zp/0r8qt7gU+1AAaA+ZWwF/m17 9qKkwMafYc/Sbf5q7T8yNdlyD7JTIMD03AyOz862OX38I5P7Rjj/tcLa4gM6+vm/Bt//iVNzm7b/ kb/x+TlU33qclwZ5s/XK8RBtyi9ZeA7hN9TTVcSz9txDiZ+rcFhQKUM++cGfnp8rfLT5ugwfI/Jb N2EdYv8Av1oBDSEsn5rqRFXHRHF03/4V+YcnY4W49m1PtP05O/q1jauw/8jU/tIu/+ZYyfTsDKZn Z1bkH923b03nX/vsj+P5oMiI5//afP/Tc/Obtv+Rv/H5KWTmebaqdlDEnING3asAbKyqzHmrVdKK HStrlaxXW+nGJtdbRXPAi/dBPvknPNw5wI/fXXW+VrcJ7ePr6vio+VLPM1+Bj/Lqu7333w7jzobb du/BWBpbln9o79SAPPVzaDbrUMZq7T8yNVXJLOoBwPHZOUzPzK7Iv+Xm3ZhIY2s4/9Kyvy2z+lEb 5fxfg+//xNz8pu1/5G98fopon5be0BIuLhiq7jVXHa8szFQ9pZjSpoC9l/w04ZKrVXHIJz/4J07N Decn44mUNY0H+BGekoqvFR99fFR8XMb+FPb3vao7bN+tK8vbIgmHp/Yuyz/SynAv5ZcaXxCymrrW 70Jczv4tKeHAnr19+hX+iblZvHRmHhebZoAfn7ekhIP7Jld//vvsj3PUOj+jnP9r9P0/P3+qms63 ufof+Rufn1S08oJNIY1FlZGqJBmP3SPmhVpHay9PEdtfRojBPY0GOdnJisICk0U++WgUz8+dXp6v Q/iCMnYlAKTJF3z2YoOvfXyIecNQ86ZXaX9tbemEwJnz53O9VgeXGIcezj80OVk9hccNUfHC6XmU J91h/Mvbf2D3Xoxt2eIia+/D6kzPzuBS0+BEaxy9phj/yNTk6s+/DNrf4ouMdv6v0fd/4eIiTvbO bLr+R/6NwU822T0y8vyxvpEyoC/wriH+wI8MF68vGebifdskk6k2Up9d4VjVxo0nn3wIeksXcOHi 0nC+2k2gxVeBrRI6hO+JJM3l+CKIhRNXtF+rcbCq+9S3rudOvlyeofvu/Ef371uWf2jvvnwm7bB1 9hMzcxWkvklV/MvYf9h3eyuPAkW9RhUnZucAJJyYmxvg1/f0w5P71nD+dcD+mq+jnv9r+P3PnV3Y dP2P/BuDn/JSc7HGTHgHoUyEEGJxhpyR6+VQVw4lVFUl7ACANGZc/KRYCMK9EfLJF+D84iU7hiF8 DOFLrddwvmjFR8VHxdc++5fj57/tV5Q+N/Nyxc+mAwCO7N03lH/Ttm3YtX1b301bceHiRbx8Zr7F 7/uTP6xk/5FqD/Q66U2gOHn2NJYuLUFVMT030+IX/Y1/dHLfqs9/NkX69HS+jHr+r+H3f35padP1 P/JvDH7K+Z4x3lTN57TwgeXNSe4k5afBOkbUbXdi9X8E5nBIzLtTAE1yD6Za5Yb8Tc1fWLzg9VfP Rz+/gtf31kaQvVjrJ86H5JBttn9ZfpFXv+I2eOzkzOBBf9kmJ4P8Q1P7yvnP/0h1g43bXwG3n7NX tv/oVJWhHjXsVwHTM7PZ/uOzMy1+2zox/ddy/vtebb6OeP6v3fd/bmnxml//17v/kX9j8FN8EAVi q5ZaKVF1ITYW0PbzpXpykGJQZViDGMi38IHWrowWZcjf3Pzzi0uAYGB+90p8LMdPQ/i6CvtX4nsY tz4/9Wu218Pp8+cGyhXAoclJpMharfiH9k7mk1Vnf5e54W6pFn3XYv+RqSkUsVru12Lj51FwYna2 xe9/Hdq7135YVnH+B1P32nxbg36E838Nv/9zi0ur4t9I/Y/8G4OftMjNugiAnEQCAFI8gPLA3/Tp Xv3a2CABRGOxeDOqhORCC+/k5G96/rmLS1n4WvhFAUUWVvHjZiJS8bOiffavxK+Pod3xouTYyyfL Qf9fAIxv2YKDe/cO8A9PVou+VD8CdrPVQqnCA4Wvfe3a9gsER/ZWc9DDi/e603OzWcr03Nzgzbzi T4yN48DuPas6/6I6YH/Nb6f2reH8X8Pv//zS0qbrf+TfGPxUr2+MBhUgIe9elLuAKWbDTpIV6n9J Ms0bsRWVSxeOpIFkP1JSQl7kb27++cWlFfnNMvw22C/6ii/D+Lp2+xstZyHfqKqmIoJvz7zsH6xC RM8UMZ7d5h+anILUQvzt9NwsbH1m6Tu/bc9+Jfv33XwzJibG6laVGMHxubls/1zvLBYuXGhXFGnx D03tW+X5l6H2tywY5fxfw+9/YWlp0/U/8m8MfrLFGrxFtcZ89rhbnr1lsebpOql9NN42vvRdKNTf LS1LwD0Q8skHcG5x0QaA8hUcHm/JMB/Kr1dowir42sdv2vYvyw8XGSj8Cq2qODZz0kWFtuWsHdm3 f4BvT+jVXc9cb0zPzuabVdu6wpfL2H9k31SL3xajOD4z07L/+OxM5g8SgaNTU6s6/3baBu2v0KOd /2v4/V9YXMRm63/k3xj81MpqVaBekzYCAnmFG0QdZE+hZOlFHevOOUmvttQVsnl4pYR88s8tLVqo OM8rNr6EHjUfy/BR+NDSf1p8iTFVL5HK/hX52uL33yYFwLdPniz81kvKDdH5AsGBvXtL3ayiJan1 h6bXav/RyX192uXmWLp0CS+fOtWy30Lw8cVFzfL+yOTU2s5/n/2ZLxjx/F+7739haemaX//Xu/+R f2Pwk33WDC1p8cUvhkoOn+XpIigZevZjFyEETwEQ5AUzJJQCIPDkGg85kE++QHHxkl2YQ/no46Pi i/M1fubLeFOZKtXH12XsX5Ev7b4ZnTF6GQTPzZxsVaj3Bj+yb6rFv2XPHoxvGcs/AvGaW+hh4cLi CvbXxOXtPzw12eJr1fzE7Lzd6yr7p2fn2oA+/mFf0/2y51+G21/4MuL5v3bf/9LFZtP1P/JvDH6C eIggDjYBKD8yWXT5J3ep+sfO1o5XNGrc3Lk1VQkqNs8uhUdDPvkq2DY+lp+qVsXXPr7AFy3RvAPr AF8vY/9K/PKxekk+EyrA7Jkezp4/Xy2KVjpkSVAz/pHJvVlE/Uw7fXK29QPQJpWXYmX7j/piMMGv 2x+fmxmw//hsldDXfgPAV7tbxflX6FD7pdJ7pPN/Db//HRNj1/z6v979j/wbg5/qKuahRqdzMVIl pChQems01DzlI3kSgO3vWo7Hj5MtfpODaJX/Tf5m52+fGLdpG8HHaHxxPobxZQhfK/tX4leZqf2v UCVJg2+ffDknpUfHgwBbx8ewf/eezI9NWVrnH8DxudnqZp0l5H9Xa39+oq4MjGDA9NzMgP22WhzK +Fwff9e2CUzu2LWq73+Y/VnqqOf/Gn7/W8fHNl3/I//G4FczNoG8ZVuWorlM/ClEU66B2NMhHN+B rFb1XuIlEWUQm/5ewgjkb3r+tvGJNl/7+L4wQ3ijl+X709ZQvlb8SoeV+S67FVIuPPV5zs95Ylwl NfNv3zeV+Ydam7KUE2bbmUrrJBaLCz9BlrX/pu07sHv7jgG++D8nZucG7D8xN9NmDeEfnppa1flf zv7gj3b+r933v318YtP1P/JvDH7KR6158SyytyCt9HnPyLcNDbzfpaz3sB5dpo6UpxsLy0kkrZC/ 6fnbJ8ah2sd3neJizofUvFgRExn8WPwFlYyhfOnjh1Yr8Vu3VT9bUp5lTRfBsZP9N3RrpfCwtfMP 7Z2qen6pd2x2tv1EDemr4WdVl7f/yICzEN+f/Xt8ZmbA/nOLS5g5c7aoJIP8o545v6rzvyxfRzv/ 1/D73751YtP1P/JvDL7Pe5d2PyjXPQAtc3DVIepeBtTDC3VHdo9ciqY5sxWSO6KNE4Yl5G92/rZx +xFt8f0yj5BTMOwm6vzk/CaQQ/jo46OPX3WkZfn1mHbudWX0Wx35nGe6978EwNF9ZU33w5N7W/fq aHFibibyXjJfWzXsbXL+MPuPtDLca1uszYn52aH2T8/NttyHfv7hvfsue/6lX9c+fnaA1nr+r+H3 v31s/Jpf/9e7/5F/Y/BT9oMjzz76jRREQjWm5z0yTyoJGOpEHskhA0B89SgFRKCazJPODPLJ15KI NITfykLGMnyJkakhfCzDR2U/dGV+7X1XHnVdptCS6d66p5nQo/v2QzVhYmwC+3bdXOlgIi81l/DC 3Lxp3eJX0FXYf2TfvqF8ADhzbhGneucqdrF/em6majfIN4dkled/GT5URjv/1/D73zYxsen6H/k3 Bj+hrhguKuAVzdtowguIIn+lllciSJ6tV+bG2Z8GtiKOqiKlxjtfKkzyNz1/2/j4snytwLISH6vg S8XvN2hF/uCrnYhu/JmzZ3D2wvmWWHW5hyenkKTBocm9rafDqPXC/Clc0vw8msuX4y9n/+GpqaF8 BfD8/Mll7T8+EO5v849MTV3+/Iu2Lqt+vs37HuX8X7vvf/vExKbrf+TfGPxUGqfSdaxfosxzA8S3 aLMFbryDih+MHyEN8ZEIoOGYQKPUx7mk/skgf9Pzt09sa/10S1+dTnxU/LgxrGT/MH6e/xz/ROfS UCrzj52cCcmo+jZ2bt2KyZtuxsHJydZtJDrvMZ86JjWjuuG3+CLL2n90av9QvgA2Rr+M/dMzM7ms 3vUpZE3uugnbJ7aufP5bU+QG+SOf/2v4/e+YGN90/Y/8G4NvI1Deg5Jf7OqdsuTXhXreOaUxRf2H BUnCSUAk5UsQpVga0+3aC3KQTz6wdXwLJnfs9FKp/kqu2XTlYwX7Udm/DB+Zr9WNXQDx5Uyc/+2T vqZ78KvOe3RyH45MtpPW4qnzhN9s25PWMPg+krqG2L99fAz7b7p5Wf6Jmdll7T8Rq8X1vWr+0al9 K55/5J+l4XzpcP6v1fd/y803b7r+R/6NwU+RXiM+7cYaKTQJ8jKVsYhD9E+Xg+S9TDUn8kROn0p5 qhEpxkTmXvwQkk9+8G/bu8f4Md5U8QHxZJLoFH51L8dHHz+60BA+3OYm7F+GX78yP9/ZNfOP1Zu0 ZOn2OrxvHw4PSVoDFMfn5jJfq8zW7DjU/LjX9dl/cHJfCUsP4R+fn13W/udPn8LF5lI2cBj/6NTU iudfpXJGhvC7nP9r8f3v3rEDOycmNmX/I3/j85OI+m5vkjNFsyfbmLehInmMP8f24733LFUbw8oJ LI35vIB7HE3xObK/4Wsnk0++QnBo917j+1UbfMTNLTOLlGX5WvEhHkIezteoE/YP40c8rf/mOoT/ 3MzMQL3IWL193z4cilXiapEQHD95svDVb2zldLf5qkPttzXjsSz/xOxsueFr/OgIVBKaS4oXfY13 YDj/8OTUyud/mfMU/JHP/zX6/g+5U7kZ+x/5G58/FmNMEezPAoHckWImSHgIxe8uzybmBWsuzJ8z X61TCbLZFjoU8skHVHFwcrd5mjKE7/HW+mlrKL80Hc3+5fiooH2vLMsnWD138uRAPRVAVHBkap/d FL2NaWP84zFlzR34zMcwvgy1/0jc0Jfh/5Of+8t9mnvFGOxrsQb5R6dKdGHZ738Ffli85vN/jb7/ Q3v2DNq/Sfof+RufX1aKS+E7SKufC6wzRUXN/0o2ICFm2ZUpKS0HPX4r/H9VeDihWqiO/E3PP7jH s7+H8au2ma+Fj+BjGX71WdU7wTD7l+MPu5P72RDAx4aNf/LMadtfvHoF/94DB7B9fKt39iLz7OIF nFpYKPy6nWI4fYj9h3NCHIbyQ+1+futmvgL/sO+Lvuz5H7q4RuELdLTzf42+/wN7927a/kf+xueX eegewG95GfFMH78x1SN+npurVmxhA/cQwpBY7EG9F0nJBBYVNPU8PPI3Pf/Qnj0r85s+vh9QDcQK fDgf0VFGsL//Vd281MPywX9u5mRplE+eYmzLGGoL4nVidq7FlzhntT3Vazn76yfoYfza/gGbtP+H aJB/257dGN8ytiy/9ZB/Gf6az/81+P4P7tmzafsf+TcEXwBNNileWk6Fz5VVtJZuivVjpVIc4XyU sa7WE4HYMWiyGs6xpe/IJ9/4+2++CeMpDfBjwQYtyyK3bzwhrxprxQj85eyPY6hl1/L9QM0/Vofd 88mQ1nnJOWMKHJ87OcBvDXaj/TZ2GKvtH9uyBQf37h3UbxX8Ws5K/ISEg3snlz3/rdcQfqv+Ws7/ Nfr+I+S+Gfsf+Ruf7yme2moD1LF4a23OhBRoTn4pvr7W5VWZp7agDvM1tULkk6/AlpRwYM+eAX5s fSk1Hyvz6zLVlfl6GfuN36pQnRv/R6XFfy4y3YumLV+g/4Y0PTNbie970oWUxrnHD9p/25692CJp gLYafr9R7aI2/+i+fVju/KsO0tolo57/q//9j2/ZgltuvhnX6/pfzn7yyV8tPwElDGAgIwU6qmsK hUJJR4tCpXKdqwzUMpvOylKk8QPlB5J88iv+Kw8cWDsfg/ym5ntZWU61zcdq7JdWtXKTCldc2vxv 5U1ays2xvVBKkaRq66i3+NrHGuAP2n9kal8lWNbEb9vVvp338w9PTi17/uWyfB3t/F+D7//uW2+F bElr599A/Y/8jc1PIrF/q8Oa0ulUAJXG5n82tYJ5DL9Srnb37bN6Fi/8Ry/vpuTCFQD55Nf8Bw4d XJ6vQ/jql7+2+dLPN2HFR16r/dp+Mhx4uO3jH8vbqNY3x/bc8pAkgrJKXMWPiuL1a37+cajszxnu rdfq+OVGi8vyj07tu8z5X54fV9FI199V/v5fc/jQdb/+ySe/C3+seAfuxSYAmtAgwgCVLy/uMSig jSAWlG8gSJ6Cj+hcMek9p+aXH8KYMA8A5JNf8+8/fAgiCU0TPmjFT0P44vx0Gb6s0n4BgGTbk9Z8 qb1utGZ5WceMvRCN//KZMzh3YRHbt45XPnp1U64WYFEAJ2bnW/zyquyv+E1T7mhh/5FIiIv+rW4/ BE3T4O/9zgdymdQ/Ln20H3z9G/GWe145eP6df2RqCs2K53+QX0sZ6fxfg+//gUOHrvv1Tz75Xfhj VTdDmR/XmEcgkhe5gACi1Qau0lgoK9L06+kqohBNUCmBr/DyNcEGEPJTgZBPfubv2bkDhyf34NjJ WX/KKn1kGD8vk7hGvtZ8LZ0s26/o49c3JSDmkJcul/r4gudmX8a9Bw6VdvlG17b/5VOncOHiYovf fkpGcfRrhqBlf5mDnr+wbP+L8/P46je+6fajff61/SNzdP8+vPXue4rH0sc/NDmF5DtD9J9/XYZf 7JcRz//V/f4nxrfg7ttuve7XP/nkd+Gn+N3I82zVPQ0Xpv6kZGOIqVKw6sAt1azT2hSW8lzSwDpt 1YeQ59yRT37Fv//Q4TZf45DztbpNaB9fV8dHzZd6nvkQ+7WFcomt2+tQ/rFqs5OWs93Hn56bHeAX D17bMvr5UShSntDzeS06HpubWbX9x2Zm8818GH9ibAy37t67zPmXofz4KF3O/1X8/u87cBDjW7as i+uffPJH5aeY8F57rLXw4iUopBU8U2SHIRsT7nQoYO9FImvXJfuCEAKAfPL7+Q8cOtzm256AJica 9vPVr3qp+Frx0cdHxcdl7E9hf9+rvsOqDvCfO/lyrtNqW/Ehtm3pUD7qH4V+ftv+fbtu8i1otW2P 80/Mzq3a/udnZy/LPzI5Ofz8L8Nv3dpHOf9X+fu//8ihdXP9k0/+qPykopUXbAppLKqMVCXJWDig QcwLFR/Tqn/VmtzhBPBpJmJgH+y3orDAZJFPfs1/9eEDSEnafB3CF5TMZQEgTb7gsxcbfO3jQ8wb hpo3vUr7W/fw3Am9Z/bxnzs5k/t4K5W1b7728ZmTy/DDgx/Gb9t/pFrBrfUD4/zp2ZlV2//C6Xnf pGV5/pF9+4effxnOLytqyGjn/yp//w8cOrRurn/yyR+Vn2yye2Tk+WN9I4jV4NV/WGLSuikaZVZf MszF+7ZJ6oP21jC8jljVxo0nn/w+/q6Jbbhz3y2Fr3YTaPFVfP3iIXxzj8tKTMvxxZ2Gy9mvZRys vhXXt66wqOZ/K++6VvG9e9bdcHp2dpCvNaS+SVX8yv4j+8pUsgGAAMdja9RV2N9cUrwwN78i/6jv 6jZ4/nUov4TwRzz/V/H737VtG15xy/51c/2TT/6o/KTQ7A3Yj0RT9xrkEEIszpAXpfVyqCuHPNYV CTv5h6CBJ73ED1GE8nzKPfnk9/G/65V3FT6G8KXWazhftOKj4qPiax8fQ+x3TZE/lVdd2s9/+fQp nF9cyucJNb+SanPQ23xFm9/3J38I+49OTVX8fOpzvem5mTXZf9yf6JfjH56aHHr+ZRl+npYz6vm/ it//Q3ffhZS2rKvrn3zyR+GneGTP401aLnsLH1jenOROUn6arGNE3XYnVv9H4El9Me9OATTJPZiS zk8++TX/u175SmyRLSvy0c+v4PW9zZJKK746H2U6U+ZjOfuLvPoldd1+vgLHZk4ippvkE1Od48WL S3jpzKkBfg4Lxxka4GvL/qOT+weV89e5i4uYPXN2Tfabk7E8P0L8Q89/36ttv454/q/e9/89r7p3 3V3/5JM/Cj/FB1EgtmqplRJVF2JjAQPPGdlzl2JQZViDGMi38IHWrowWZcgnv+bv2bEDrz16eEU+ luOnIXxdBd+qDbffw7j1+alfrbUlKv63Z15G/TTe//T6/OycPdkO4WdLtei7nP2H601Z+r5D2/hl bfbHynXL8Xdt24a9O28aOP+DqXto2W9r0I9w/q/S93/b7j141YHb1t31Tz75o/CTFrlZFwGQk0gA QIoHUB74mz7dq97u02hFY7F4M6qE5EKLElgkn/x+/tvvfeVl+UUBRRZW8eNmIlLxs6J9fCmMAfvr Y2h3vJX4x6sV49pP1/bn2OzMinw4P2wtfM1lN23fjt07trdUif8FNn6+VvunZ2Yuw4fNe+87/6I6 wK/tb6fWreH8X6Xv/7vvfWXLsPV0/ZNP/lr50luY1RwCrJ8yYOGoRtuNBKmMe9XLZVUvEfVl7mzI Pq9j4apAxbxo9UcT8skfwl+6tIS//Bv/GucWF/3Q1eerlLq1/eTfeHwB8E9+9r/GrTfvXpfXP/nk r5WfbLEGF1atMZ/v+K0nC1MyT9dJfWOH/rbxXhnbGZbU+vCqm+KBkE/+MvyJLWN4y913Fa91GF8H O9SKfO3jN21+TmyJJ00I+Tco/97bbsUtN+9Zt9c/+eSvlW9JceU5vszrhGfgwee9lWIbnId4nwsX IurYKFpO0qstdYVsHl4pIZ/85fhvv/de5KlQwccyfBQ+tPSfFl9iTNVLpOI3FV+ML3EeyL/h+G+/ 9951f/2TT/5a+Mk+a4aWtPjiF0OlSsxVb1sy9HJGkC8aIdYEsWykhFIABMkG98Xqk0/+SvxXHzqI o1P72nxUfHG+xs98GW+KceYBvi7Dl2Xsh5B/g/F3bt+Gt937ynV//ZNP/lr4CeIhgjjYBCC7F0V0 +Sd3KetsrkxjRjRq3LxspKYqQcXm2aXwaMgnfwW+APiv3viGQb728QW+aInGokyDfL0MX9dgP/kb mv9Dr30A28fH1/31Tz75a+Gnuop5yPEY72IkIle+PF1ewjEaap5yknx3GdvftRwP78QWv8lBtMwl n/yV+G+5+27ctmf3qvjifAzjyxC+VvxU8TGa/eSvf/62iXG897UPbJjrn3zyV8uvN162OW9Ru4nK PiYAe+zXlGug8TGqcHzrZL3ypoz0R5RBPMW0P5+FfPKH8bckwX/1hjeY3yqr5PvT3lC+VnxZhq99 9vvCEORvfP57XvMAdm3ftmGuf/LJXy0/5aPWvHgW2VuQnK0H2MR1AWxDBe93KevdpyGMlKP9edUI tYz7SFohn/zL8L/7Vfdi/827/MfdvFgRExn8WPwFlYyhfOnjh1bax3edojPlQ+RvWP7E2Ba878HX brjrn3zyV8P3ee/S7gel3wHwMSmo/eedSNzzSA4tbolYXSmaWha/aRkd0RIFwhLyyV+ZP5YEP/zg 6/3Cr/jJ+U0gh/DRx0cfv+pILb63jpBXKEn+xuW/89X3Ye/OHRvu+ief/NXwU/aDI88++o0UREIM wOfegTypJGAoYwXwDpa7kipiErxqMk86M8gnf3X8d91/H3bv2DGcLzEyNYSPZfio+Fie38rCBsjf oPyxLVvww69/w4a9/skn/3L8hLpiuMiAVzRvowkvIIr8lVpeiSB5tl6ZG2d/GoivnqNIqfHOlwqT fPJXwR/fMoaffPObludjFXyp+P0GLcPXqp6sZD/565r//fffj/0379yw1z/55F+On0rjVLqOwNed 1QwT36LNFrhxb1n8oDaVEta1stdgjgk0Sn2cqwQZyCd/9fzvv/9+3LX/lrXxUfHjxrASH318dLSf /OvO371zJ/7cd37Hhr/+ySd/Jb6NQHkPSt7Z1OfMlfy6UM8dBGlMUXV6knASEEn5EkQplsZ0u2KM SSWf/NXykwj+yju+GwJZOx8r8FHxW38l12y62k/+deP/pbe9DTu2bd3w1z/55K/ET3AxoopIEhUo NAlimURLnRdX2F4isMy6xhT2BWxyTp8K8jJ2IsWYyNwzYSaEfPLXwr/71lvwfa95tX1Yjo8+fnSh IXw4swl+jHdVfEA8mSU6JcjfIPzXHDmEt9179w1z/ZNP/nJ8WViY07yjS3YBovd5vKA+1F8n1xXv uO5Hh/cQXVkFkPCxNdeRBJBP/lr5Zy+cx1/7zX+P0+fObUr7yV8dfywl/KM/91M4tHdyU9pP/ubi J83CtOUBAKaQohIgWT7qYksCUDNGctNijMAyAD27L2fsxXxU8slfI3/X1m342YfeOshHR74uw9da 7gr2k7+u+O978LU4NLX3hrv+ySd/GL+sFJfCEwjvomoUa8RmFXNgABALGogrGin52ib6OIEbp/Bw QrVQHfnkr5H/9lfdi1cdPJDHnizYtQy/+qxqnWAoX5bhV7pn+7XYT/764++7+Sb8xHd8xw17/ZNP fj+/zEP3AH5OuVfksatgFFDM7Yw2HsqHtheHD4dFgRjFz5mAKmjqeXjkk79GvkDwV7/vXdg+PuGI FfjZi42OMgK/6bPfD6iC/HXGTyL4P73rXdg2PnbDXv/kkz+EL4AmCwlIy6nwlWxMEYSisX6sVIoj nA8pfbc2TOwYNFkN59jSd+STPzr/1ptvxi+86x1IAPISiVopdQX4sWCElmWZ7U9LPvnrif/Tb34z Xn3o4A1//ZNPfs33FFNttQG0DgYA6lOEPA3fvA4tx7yXaV1elflUe//XCE2tEPnkd+C/9e678O4H XtPi1zqprszXy/Bj602p+VjZfvKvH/+1R47gx970+mt2/V3v65988oOVgBIGMJCRAh3VNYVCoaSj RaFSuc6trDzxmlaWIo0f8HCC1SSf/K78v/RdD+HO/fszv6n5XhbTSNDHR1c+Bu0n//rw9+7aif/2 +78PIrKprn/yyTeGxP6tDms0H1QBVBqb/9nUCuYx/Eq5Kr7g6lioLFwKSxjIuvt78sm/EvzxLWP4 5fe8GzsmJnInavFNWPGRR+HrEL5699O2/eRfe34SwV9797uxe8e2TXf9k08+4NPWit8ASAJsOXiX G7Pd/W2k0jdNGOAz77L37Z1bkBeoL5mp0bc1LxJBPvlXin9gz278N9/7juF8WSVfnK9D+GkIX5yf LmM/+Ved/5Nv/g7cf+jgpr3+ySc/h+pbj/PSIG+2Xjkeog1Kmp57DuE3ZA/dOpmNd5nnIAhPwt9U ypBP/pXkP3TP3fiRNz54Wb7WfB3CR5uvy/Axov3kX1n+m19xF378TW+87tcf+eRfT34KmSn3HLWD IuYcNOpeBWBjVWXOW62SVmyIzRGNsTNALK1eNFc0B7x4H+STf6X4f+Ght+Ltr7p3RT5qvlR8DOHH fUedr4Vf3ZOsRFdnP/lXjn//oYP4b9/9/UjB2+TXP/mbl59iwruW3tgSLi4Yqoi5v7njlYWZvFTg 7rYrYO/FQwxZ7WpVHPLJv9J8geC/eec78Ibbby989PFR8XEZvu1J6HIk37la/AiPSWW/KvlXmX/H /in8n3/ovZjYsmXdXH/kk3+9+ElFKy/YFFKJGfHJyw2kABrEvFDraNUwP2Jp+qxseBoNbMFaqPV5 CQtMFvnkX2n+WEr46z/wHtx74IDxtY8PMW8Yat705fg6hC8oY2cCQJrc4bIXHfaTf8X5t+y5GX/n h9+HHRNb1931Rz7514Xf683bqH2KTiMlpT6cAUHOMA3RtiaNtREH5SZeN2SG4xIv9X+T+xzkk3+1 +GfPXcD/9fd+H8dnZkfnw29ONV9TbrMcX1OMpXW0n/wB/s3bd+J//IkfxYHde9f19Uc++deSnxSa vQEAkPAOLIaGHEKIxSHCu45yKNQ3X8+JfjnE4N56A8vsi8MS4wvWmnzyrxZ/17Zt+Lvvex+mbtpV 9Y+Kr318DOFjCF9qvYbzRSv7oeRfIf728Qn87ff/EA7s3rPurz/yyb+WfOn1ZhX+4C4KiBRnQlyA rZFsB+tJ8AJFbKbQ54RUdaolmBG/A/6DIIDPaSGf/KvKf/n0afxPH/wQXpibL3zAW43Gj7a5bnws xSvbT/6a+bu2bsP/5f3vwz233rKhrj/yyb8WfOn15jTLTYNa2bFCigjCoAnFa68PmWduO7GrSOnH Awzyyb+6/FPnz+MffvA/4dmXXoqD1gwYejNaFT/Xr6DD+NpAU5/95K+Jv3/XTfg7P/I+HNq7d0Ne f+STf7X5ctZv6LVOyEKiYbu5eR2WcTfUM8n9WgCJmpWtHvuHmodBPvnXin9+aRH/jz/6E/zZseND +dnbXSV/GLeIE0tw6bc/3pG/av7RqSn8nR/+IUzu3LWhrz/yyb+afOktzFrqHSpiqCOKRqsi9zYy LDyHvpeIwpa5s4H/pl8tFfdGFDGwTz7514p/8VKDf/LhD+PTT399gF97wDXfVLv69pM/yL/vwAH8 9+/7QezaOnFDXH/kk3+1+HK2N28TQuKRvwr4i4sQ96mLWOvcEIFodTT0RcXRWtPBv5HrRz7515Kv CvyrT3wSf/TIYzb1qp/vfaWxLrQ8vxHE9p6t48vxY6521iORvwL/DXfcib/xA9+P8bGxG+r6I5/8 q8GXXm9OM8MrtgrgHbCRootnzGd2eAuVskNDEWFCzM2Ljk0++deJ/0ePPIp/++nP4OKlS34TGcLP N6IsHgLnR0ccNgjc8rgrPjy5pd9+8jNfALzv9a/DX3joIWxJuGGvP/LJv5J86Z2dU0k+rxTqBwfV KX0z3uUuXcpEsrehApsw72WNwKexCPLYgWtFPvnXk//syy/i//kn/wUvnT41Ol8rPq6D/TcQf9fE NvzS970Tb7rzjk1x/ZFP/hXj93pzWiq7TDFPIkqz+D6OfbSQmyigKhBpoBpbwnk9lTwPL+TWosgn /3rzFy5cwK9++KP43LPfWB0/69nm+6TT1tBW5isQqzwNtT+89E3Mv/e22/DL7/1+TO3atamuP/LJ vyL8Xm9O6xo23h5SBRDNZQIpKfTiArW0FS3hsqJAn2/hnXpohiD55F9Hvgrwx488it/81KewdKkJ ocP5cBW78uveXNsfXvgm4YsI3v/6B/Hn3/KdGEuyKa8/8snvym/d0Ev8PuilTPwHL5QSAZomvAn4 WJoiZ+zVWkZoQDC4sETL4yCf/OvPf/all/H/+pM/xQunTxe+VvyQqivwc0cbwlexumux/wbm37Rt G37p+9+FN91+dF18/+STv1H5A0lxGn1Qs4MAkfAMaj3UVfCcmAF3I16mToPKy/Cq2X7yyV9n/AuL S/iPX/oSPvTlr+JSo6jzTOvQsSosvBbedXHIV88vVWMo2t4jbp5yQ/K3AHj7fa/Czzz0Vty8ffu6 +v7JJ38j8v0JveUboK1b32w6dzhEBIrGYXWLXMEp9XszJSuYl8Yhn/z1yZ+em8WvffyTePz4MdSZ 3gP81kIQffz8TKu5gytGsP8G4h/dN4m/8vZ34FUHblvX3z/55G8kfl7LHTEXNDptxNhQHO5+B6Tt jKt7FK5kdVCgHmYTqNtXDPWK5JO/TvmA4lNPP4N/86lPY7bXa+nT4gMQrIIPANKXoZpd9GH84TZv RP62sXH89JvfjB983f1IW7ZsiO+ffPI3DL+MoQ92z/YatOGaF8mFaYXFB4mof3YokMyfQBI7qlqm uJBP/kbgn1u8gN/6/Ofxp488ikuqo/H9aAm+rYKPKoWmq/3Xkf/We+7Bz33XQ9i7a9eG/P7JJ3+9 823aWh1Cg005iTl0mkUb0ObDiw8AuCIKlNH52gwYMQ3o0nqRT/5G4r8wdwq/95Uv4RNPPo2LzaXL 87Onvko+ANUraP915IsmvPEVd+DH3/RG3HPrLTfE908++euVX4Xcy1M/IBBtoFJv/1J7EA5RQFOt mYUXGvctSsZ+hBXgkYYYMQjZ5JO/8fgnT5/BH3z1K/joE09i8dLF5fn1msu6DD+qxjttAOebmNrv X6P914E/JoK33HU3fuw73oDbpyZvyO+ffPLXHb8Xa7lDYXuvlqw5BZA0OrfkrDu1XwVTyZewi0w+ U8ePx7w8cd9Da7VCWMn7I5/8jcifW+jhQ199BH/62OM4v7Tk8iL1TFB87+F8wILgjXvZkf1qjrhA Y+AtmmjF12Xsv078sZTwPfe+Ej/6xjfg0J7dm+L7J5/89cKXhYU5zTu61E4A0PLs+52NgZd6qCCy 8RTI+fd+fCARR+0hgHzybwT+mQvn8Z8ffRQff+ppPD83v6ns37tjJ77n3lfiPa+9H/tvunlTfv/k k3+9+SUprva663quV16gRsvxqFtNfffCPjnR3pUpxyrtyCf/BuGrCp554QV87Kmn8Omnn8HZxQur 55vTPsgvD8kr8/3IyPavgb9tfBzf8Yo78N333ovXHTmMlCts7u+ffPKvF7/c0LMkb90XvhdBNXle kfd68x+BeDVFxeG/PmKVNCmSVhszkk/+DchfungJX/72t/Hwk0/hy996LifRqSgSRuB7iA1IdpdN 7VDesvbXrw58UeD+wwfx9nvvw3fedSe2b51Y1+effPI3E9+T4oDYOL1KirUxgNbAfAELUC9T67r6 iF1xHbJ3YUvewNL1vZ39QIQ/QT75Nzb/zIXzeOTbx/H48Wk8Nj2N50+fWhu/4rX4WmwRufL2T+7c gfsPHcJrDh/C644ewdSuXRvy/JNP/g3P7/XmFK00+IHfDuQ4XP0IMMT7X84hKX+LgPYPEvnkbz7+ y6fP4LET03js2Ak8duI4Zs6cHcq33ZSkPQw35DVEpZHsv3n7Ntx38BAeOHwIrzl8GIcmd9+Q5598 8m80fg65t8GDy06YzKJWTGaxwfgGeeG6PBZQFrOr5ZUfKbRDBeSTv8n5z586hWMzs5iem8OJ+VM4 MT+HE3PzOHP+fDd+nlPe5u8cn8CBPXtwYO8eHNqzBwf37MGRyUkcntqLtAnPP/nkb3S+9HqzWu/f qp5ujwwXWytKXNdQqFYismaKT+FgWx8nSxL1FXIqhWBl5JNP/nD+qXPn8PypOZyYO4Uz58/j3OIi zi0t4fzSEs4tLpa/i0tooNg2PoHt42PYMbEV28bHsH1iAtsmxrF9Yhw7J7bhwJ7dOLhnN/bs3AXZ APaTTz75q+PLwsKcQus7PtBKx/NyacJD8BmtDkAluHxqSvs6rOCUmHSvYjs1kU8++eSTTz753fhJ NT64P5CAWGjOXYZcWwWAh+6apvgKDcz7iM+teD/UwYWiomUKDPnkk08++eST35mfF46L9HmT0VjG bOGYw6BN5RY0rlQM8EdFAJ7EE56GuJhwPFApQz755JNPPvnkd+enkJmipVpMHz79RRvNEQNFqhSU lkpasSGSE3FCmwbmmdSRBY035JNPPvnkk09+J34Sdx/sBm/FtfAyr1UR8+xChMbitdkYMRkaCth7 8RBDVttH98VsJ5988sknn3zyO/KltzCrtuBUpMmrHzWKqEJ9t4bwBsTnxanYIHxOmXeFfPzfzRMz wCzz0IGXozEM+eSTTz755JPfiS+93ryN2udGJW0+OwMCxAbrrjIUCTHh3VTT0iQsim2b/GO8QvHk Pgf55JNPPvnkk9+NnzR7BJYfJ2Jeg43g+/8KqJowjRhBlENhm8OhTJTPIQb3HBpYZl8clhhfsNbk k08++eSTT343vq/l7sECBUSKMyEuQFUte04kJ9nZcTWADjghVZ32gvU53CDRKHwO8sknn3zyySd/ VL70enOa5aZBrexYIUUEYdAECW1bhyzCbzvD2Co4w40mn3zyySeffPJH5yeNYikCBEHw2XHiuXVS jtt09uJ5RAgAgLkkCoiKBxIsOy+ckmxVhBHIJ5988sknn/xO/CS1y9CgAiTEhg6IMlfMsu4lK9T/ kmSaN741VJbp79Ek8zhEQD755JNPPvnkd+fL2d68JcQr8p7ptbfgIloNNVQTgWh11KMACnhSQGii 5WDf38j1I5988sknn3zyR+cnO1A49Zq0ERDIK9wg6iB7CiVLT7PyApQkvawaXA3P8NNSQj755JNP Pvnkd+Nb8hw0Q0tavBRFfBK7aaDeVpADAp6pZyEEX1tWYIP5YYbE+wSNnWNyhh755JNPPvnkk9+J 3+vNaRGH7AFoBXHnoXqDqlxsjp0CqgKRBvX+rqaD5Hl4IbcWRT755JNPPvnkd+Mn1MLEPYuQCgHE d4GDehhBizSpygVIngSQjfHj4Z3YbnIWdqiNIJ988sknn3zyu/Hz9qkAkLdsy1I0lwnssV9T8Roa XxxeXdsIC2QnQoF6cl1EGQQpK08++eSTTz755Hfnp3wU/vgen7O3IK30ec/Ih20PZ8JS1rtPQxgp R/vzMjdqqfdNWEI++eSTTz755Hfh+7z30kCAPO/d/ioa/wt1iLqXAfXwglRuiVhdKZra6jampWX5 +bvI7SeffPLJJ5988jvx81ruedk6o/tnQVGr0rn6LNUnFUA0ZXgcFChUxSbJNfA5ev4mZ+iRT/7m 4p8828PFS5dajMhojS0SUxLcctNNN6T915o/0+th6eIl/61tz+0NOUkS9t980w1pP/mbgN/rzeky h9Feg7byPCoPQrMnovmQtS3KNLD5cQ0ESeyoapV2Tz75I/AXLlzA8bn53Ea8nUmSlmTjIyesFL70 8TW6ICIXtazB3OYf2TuJ7VsnRrL/tz77BfzOF76wKvt//M3fgT/35u9cN+d/4fwFHJ+bc35pc63O /5G9k9g+MbEm+//D5z6P3/7CF5H8aGvaT5/9P/Ed34Gf+s43rfvrn3zy+/ljgDkJIoEU8yAae0oo /cgy+BqFCU/h4WoIKM5GXvLGO25CTqnX7HUUY8gnfxT+0y++iF/54B96X5CqT0jmZ48Xrb7Qehlf Ch/wMarISBVbsCG0cP4/+LEfxX0HD4xk//GZGQDAG++4HffceiBPVck3QlV8/cUX8cVvfRPHZmbX 1fl/+oWX8Csf8vOen0au3fn/H3/sx3Df4QNrsv+5mVkkAK+//Q688sBtlcOhPt0IeOqF5/Hlb30b x2ZnILr+r3/yye/njwHWcSCK5LH88B6qnLuMt/7qc+0UlnVXHAtIeOIoBsYbbSlapJJP/ij8fCNZ DT8SS3QZPvIijPmYVoIV9f1qBH6f/SH1F7/vnbh523b7IdCsEUQbnLpwAX/51/9lvmeul/OvaKCK tfGv4PlXGYHv7f/q970LN2/f2uL7rzDOLJzD/+E3/pWd/6zH+r3+ySe/nz+GvJashbZULTygyUQm FUTgX6sfnbygjT2yQNyHiFCWSlFKJFerQgQSvZN88q8If2zLFkyMjRW+Gn9h8YJ5tgDGxrZg29iY dRZXSKBYvLiEC00DOH/H9m3WgSr+4qVLWLp4Me5P1drLo9ovSEjWH4fYb6tOmZyYtrIezn+ggz8x Zue9/OiYrIULF/K52rIlYevYePUDZcIWly5i6dIlb5Owc2Ii1Mrnf/HiEhYvXYLU/DXaH/LMsRhu P5LHAXRjXv/kkz8mov5jJ2WcHuYSiNpAe3jXouFsSHlqcAXL6jgWGrB5cZYgoOpjANJk3xdwbyWR T/6IfG3z/+u3vgXve/C1VpivesXP/dqvo3d+CZAG733tA/iLb3trriMJaBT49Y8/jP/8Z48BAuzY uhX/+q/8ZZQ7t4n73S9+Cb/1mc+VMu1iv+bOaC2Wsd8eacsPwjo4/1qdEwjw597yFrz/wQe9bZPP 7c/9+m+gd+ECFIL3PvA6/MXveku+nUedX3/44/iTRx8HINg5PoF//X/8y8gvP/+/88Uv4t9/9vOF jxHth/pXN9z+cBY2zPVPPvl9/KR+EcPfhCMLFEG5UPJvGepi+9FRM0Zy06K4ANrK2svuN8gnf2R+ vrE4Pwvr58tl+RJ87WtX89Fvfx9/BPvNQ1/G/iJhnZ1/afHtTjgqv7Zfh/PbX8kAf1X2w/i6ov2a pwyt6vq7bueffPKH88tKcSl+nCQ70LlRg1xR87/igixoL65oDPprm1hCBBJefmTxkU/+iHxtMh8r 8jUc2WX5EZJVWYmvPhwb9jdXwH5d3n6Jm936Ov+Sz384QaPzpWW/DOdrPuy/e6PbL/4dDrdfStb+ Rrj+ySe/jz8WVUQTVNVAguqRPyHP2QxQDNpXygciwQf/Fe2pdg4Pj1xU0IjakxH55I/AF7/41Z3f M+fP4eVTpzM/buKXmsLvnb+Al06fNr0F+WZ//sJFkyWKRhUvzZ/2NikMwNnzF7JQgfr4ejf7o5su Z3/07PV0/svPiX04c/48Xjh92s9l4V+65Kk/alPdXjp9qjyR+/lfWFrM9jdNgxdPn6qeku38n71w wfhNH38t9vsTuMZD0xD7EUMcwIa4/sknv58/ZhSBJhdcuhIqycjTT6JTRUV/ZQ+l6F4lohTvRdzK 8DwiY4V88tfKb8sHfu9LX8bvfunLA3opCv8jTzyBjzzxtXyjyYr6mooC4NzSEn7x3/5mdeOxm3ck pcRNpT4Ha7ZfYEs/igCahtof3nhs7rBuzr+2n0B+90tfwu9+6Uv5XPfrBQE+8sTX8OEnnswGtM+/ 2X9uaQl/9X/9zcxvnX8INCEvlzmK/dBUPamvYL9sjOuffPL7+b6Wexk7int+a9cWtYSRECpAfmrJ WXqhRJRXZeH3atVNG6m0J5/8K8yvy1RX5utl+OJ8qfnoaH+BLW+/tPnr5vzL5e2/6ud/rfaL83UV 9uvGv/7J35z8MfijewwdNSIlNd4RDRRI1jElK+letigsLOmuQ5UBa6jI7IOtklMnwbg08skfhZ9g S6OKbIHCQ+ApQlHqY+s2BQRaHN6Ig2kuAMSnjEB8fnNu703yQg4WmhWxkatR7ZfcIbVOpm/br5K9 fl1H5x8AUtpirRXX/vyPYr8CNv9fV7Bf0Pgj/Ea4/sknv58/JhKJ9K6CLUVjF7UAsVtMDg9Wq9nU GcKlq1sdxI9dhApUfMpJeBgmP5FP/oj81x09gg/80s/ni7yfnw84PyjJ+5PxrU72nu1OWtpnveA3 IO+gUpzkkeyPm4bEdJdh9itUmnZ4fh2c/9cfPYrf/qWfL/Zfx/O/avshZnPUG2q/mv3xxLPOr3/y ye/nV2u5uzoObyoV4X2sSf68oHCvIgIJkr0PRB+sFt2oFrTMwkSrKSnkk9+R/7UT02jqJBR/I4gn wfoVyz8AZWC83EcAaXnD8CrqY9/3HzzY2f6liw0uNQ22jo33TcWr7Ffg/MUlpCTYmsbW5fl/fHra 3zf5SeNqnP+kwH1HDo9s/9Kli2gaxdbxMXOQhtmvwPlLS9giCWNbtmyo65988lWl3NAzNrzixp4e 3LGuvAjAni4UqZ7g3npZQDRPskcRq26oVE8l5JPflf/T/+xX0VTjV5fj109/UOTEq9J72vyQmyD4 wF/9xXVn//Xi/9Q/rc/76vlrPf9JBB/4pZ9fd/aTT/564qf4FONVNqYngAvTRiNiABuq9zHArAjy 3+xRiHvY2TP3ZfGqwQEPcIF88q8oX1fHR82Xio8hfA3VUo6grVv7rzXfb+ZX+/ybvuvQfvLJX0f8 Mc+atwM+UJ/cA4ArZV6CVoL8Ub+RbEXxQxrE+IC73pAUv4guWRVINvhPPvlXgp8HZaXB9vGtOLx3 EiIl4SyPMXnGtUWELWyVE0y0HRyLMbDj87M4d+FCDtVGF1pP9l8vfnwSBbZPTODQ5N6iTcfzf2xu BucWl2ys0cP3681+8slfT/wxFYU2FtKKUSvNk22TT263zy7GYvcq0GQdrUT7bcA+hsVs7q5AI9HE lReIjzc07oWQT35Xvt3MBYK7b9mP/+FHf8SliXcU7z2um0bna/GR9QxlRRV//4N/gEefm/aOp/lG v77svz78ckcH7rp1P/7ej/5IX5hw9PP/93/vg3j82HHnp3VpP/nkryd+Mq/BM/IAe6xvxCfKqnsa AoEg+q9VDV/B27s5Clh79SccqCUIRPhBY22KmE5CPvnd+RDN/EYt5NVArbcIEFOkVIEGCo1pJiqu v3oWqtgMEOc34psnSFmocT3af7345fxZkwb2gHClzr85B6b7erSffPLXE3/M7vjRXRQiMZDvYQLv tLFus/o8OdPYPAbrhpI9dUj4Gh4IaIAmlf1eJXsgJfxGPvld+IgLXYDHp4/jp//Zr2YJokAjZb/t eFoUVTRqmdklPVsH+ZVtNi4m687+68mPoPnjx6bxU//0V+OMXdHzr2HpOrSffPLXCz/lLuaT5MoY ofiTT8pK2BhiO9dOsgfheoQO0W9hDkek6YsCaJJ7MALyyb8y/Da81HE+Kr46H+Kdq+Jjo9p/vfgC tM/+VTr/WKf2k0/++uGP5Q+KWASrpZSomichEuP94Xdkpe2PIKejVg6GzaezXP0yH1WrP+STfwX4 wQWwa8c23HvrrUVGeMMpOkw0MmGWqAJ49haKQtb2qeefx5kLF6rpVuvH/rkzPfz7z38er7rtAN55 /6vQNIo/+MpXcfLMafzFt70NE2Nbrtn3f9OOrXjlrbe5/dr5/D/9wos4e/68P8kkC+Wvg+vvtz/3 OSxdbPATb34Tto2P45Fjx/HJp76Od7/21bjnlls3Z/8jf13wx3J7af0pj/gw11hK/zOvI1asyTIr t7wJWeJZrCUkYHLUhIWi5JN/Bfl3Tk7hb/3QD7mH2wS99LU+fnWPrqaoubIQ/IPf/yAeO348J7Ss J/snd+3E0clJ/OpHPoLHp49j5sxZfO3E8/ibP/gD2LZl3H9Srh6/vBR3TE7hb73vB/N56Hr+//4f fBCPHZ82voPXw/X30N134+/+7u/hi9/6Jt5w++340COP4HvuvRf37L9lXVz/5G9e/lhkzIUi5Yk/ QSIhqGokSGWOXa1Q9RJfz7lBU+94DPfFLeTgGUbkk38l+CIuG8BicxEvnT0D+DSoHKTK47SSbw5A TK0KeUVX8Y514eJFfzi3tu36a7f/uZfncLJ3FjlvNcaRq1OBtubYt2sXjk5NDrX/fQ++DjNnz+Lx 6RMAgJ/9rrfgO15x57U5/5XdFy5dwstnzphNkM7nf+nSpeIE6OjX37dnZjBz5ixaJ1mw4vnft+sm 3L5vcqj9Ryan8Nfe/f34rc98Do9Nn8Ab77gDP//O70UkPm3G/kf++uDL2d68Rff9kb8OK4qLqH9Y gPC01TwHrTsssqPSji7UcYj235wqQz75Hfg/9U//ea6zIj/mlARfk3eqPr6JR2NdKMsWAB/4q7/Y yf5/8ZGP+Faiq+e/89X32U1jnZ3/n/4nv2rZ7P3Hr/D5FxF84Jd+YST7f/UjH8FH/Hyvlv/OV9+H X3zn926Y65988iHAmB0oNWOhB1RC1NJUS0fzsbAmlA0XWosK0UeKakB4KEmkbE5DPvlXgN/2Yi28 lftNzY9saz8mUvGbii/a6nblqU48OWV0+9/zwAN4/e134FNPP43PPPsN/IWH3oIDu/cAAP7FRz6C bRNb8XPf/VDVVnHLrpvLOVpH51+ziuVsXY3zL4qR7X/Pax7AG+64A596+uv49DPP4Gfe+lYc2LMH EMW/+PDHsG1iAj/3XW8zDZ1/y65d+QxshOuffPKhgrEixNLmVQRV3CsklsH4mNQOgYQ7UXqn1XHb tDHPWqA500+QoI2PnUndicknvyPf/929fTvuO3wwu8riodyoUSfQST1WFePmOXHLKj0xPY35c+f8 k/p/o9t/5779uGP/Lfj4009hiwh+8HUPYGLLBE6eOY2zi4t4452vwHe+4q72Kci/Devs/Fc/Jrt3 7sD9hw54fe18/p+YPoFT585ZmzzWuHb777plH+68dR8efvIpjKUteO9rX4uJ8XHMnD2Ds+cv4E2v uAPfeddd1Y+j1Gd841z/5G96/hjEFuLIkf4MaP9I5jcZFsEAyVEs8zps/CDBOrNVTV4TUANYGNMR 5JPflW8dyLzZw5OT+BvveU/+SRa/wRS/t04mqW/dcC8ZLf4/+P0/wKnj031Pm93tf+aFl3Dn/v0Y 3zIOQPHo8WmgAV598EBLq/V8/u3Hy87nkb2T+OX3vNv4gs7n/x/8/gfx6PHp/CPZ1f5nXnwJd+7b ZzuuQfHoseOAAK86cLBos0Gvf/LJ1wYY628QYUuEp5AH5tU6pvqxLFfzkFSKJP2Q4957NeafO3fd qcknvytfACTPqFYozl9cQkSkcsYTPBQmoXM8LUbniGrls0BxyZduHBgv62D/yTNnMd/r4aG7786i Hpu25WVfdfC2DXP+RQpftcH5ixez5K7n/1L+wQOStxnV/pNnz2Cm18Nb7747/1g+Pj0NKHDfwQMb /vonn/yExm7oWV6OhUnQc5nkJyHJP6B5/2kA0sDWdtYqWKVAPdJf9EiIMbJSmXzyR+fnjqPA49Mn 8DO/+msuVDIf4cmq2Abb/XzE+FXpaVEmEfaKG1lH+x/1m/fDTz2FL3zzmwCA+d5ZCIBf+eB/AqLj QrF7+w78w5/88XV5/oMnDfD489P42X/xa+3zegXOf3EERrf/sWPTEAE+EedbFHO9HiDAr3zwQxUf 2L19B/7nn/jxDXX9k0++Jn9CD1dBo/tEnxL7R8Q9A1T90FPn1VU2YwSDL5sv17QUtnBD8k5KPvld +faEKCWBWVbgSx8/+l/fTVu9c1hn8k9aprN1sf/suQt4zYGDucnLZ85g8WKDQ1N7sWfHDnNQIHhy ehoHdu/J/X69nn9NV/n8d7T/zPkLuP/gQTdV8NKZM7i41ODw1F7s3r49A594/nlPmNtY1z/55EPF b+hafGMBcoaeuAuRY/ze4SzObxu4JxHzuPMSN7lCaOSRA/E+U8+hC5eGfPK78cs6MEP4gAe4EM/b rpfz49lQ+vjeokHFT/Hw3M3+97/+tXj/6x8EoLh4qcHf/K0PYGJ8DH/vR38Ykzt2QgGcPHsWv/Cv /w1u37evnKd1dv5FbAwQjZ2/q3X+kxeOav/7X/8g3v/619n5bhr8d7/1AYyPj+F/+JEfwd6dO6FQ zJw9i1/41/8r7piaMkkb6Ponn3wAGMt+cEiJRhHjgg3gR/ArepqGCrmwVryEDCxc5gkASWwPVzfN 42/kk9+Z/6s/97PeCVIeoz11/hw++sTX8PEnn8LhyUn89fe+xzxev03ksV0fq1q8eAl/+7d/B3t2 7sDdt+3HPbfchrtvvRV7/AlOo79eYfv/4xe+gOm5WfzMQw9h7/adzlE8cfwEAMGd+6fKU+o6O/// /C/9RS9Xf/hOOHV+AR99/Gv42NNP48jevfgbP/Buu41Lcbzq87+4dAl/+3f+I/Zs34G7b7kV99x2 K+6+7Rbs2bYD+VWp3dX+3/n8F3B8ds7O987tABQiiid8TP32/fs33PVPPvkqvpZ769cqPmp41Q0a EeQ1mCXq1iEzKZ8D5XEDk2AedqNASqaI+l6v5JN/JfhTu26CADh97hy+8K1v4vPPfhOPPHcMl5oG DYBnXnwBH/vak/jJN7/R+XUg1xT44FceQW/xAnqLF3B8bhYf/9rXATSYuulm3HPLrbj/0AG88RV3 5BZXwv5nXnwZf/Dlr+DOffvsib2y//HpaQCKO2+5BZEju97O/9SuXQAEp8+fw5e++U187plv4KvH j+HSJVv/8pkXX8RHn3oaP/mmN2Q9+s//B7/yVfTOX0Dv/CKm5+bx8aeegkKxf9fNuOfW/bjv0CG8 6c47kQ3qYP83Xn4Rv//lL+OO/bfg/Q++rmX/49MnAAHuumX/hrv+ySc/qY+h1yFEQf/8uJBjA/uN uheSIt9XQ0CZDpcTAWAd18fXkn82FcqPKfnkj8o/tbCAZ158EY+dOIHHj53At0+edHLjwk1eSltw amEBlxogyXD+o8eOeQjLvOXgnzxzBrNnTuNzzz6DX3/4E7h9cgpvuusOvOmOO3DXLfuRICPZ/4mn nsb/96Mfg0Lw8+96Z0m4E6B3fhGfeeZZ3H3rrTi4Z8+6O/+nzvfwzIsv4bHj03j8+DS+dfIkyu9T +dXZIlswv7CASwpskeH8R48dR5ItuKSXjO/MmbNncPLsaXz62W/gXz38MI5O7cMb77zTzvtt+5Fy hGV19n/qqafxqx/9GCDAL3zvO5BSyvYvLC3h019/BnffcgsO7d3jc4jX//VPPvk1X3q9WQ3PIJ76 LUzQVGNc3jDcB3/cTwobjEepIq5WckVz7wzvo14NKssmn/zV82fPnsWvffwT+NZLL+PkwtkV+Tu2 TuC7XnkPfvQNb8D+3Tddlr+wuIgnX3gRXzs+jcdPnMCzL72Ei02DnO3eZ//NO7fjH//5P4fdO7av yf7PfuOb+Ed/9MeY3LkLf+O978ErD9zWsv/3v/Ql/G+f+Rx+6fu+F+941avWxfmfOdvDbzz8CXzj pZdw8mxvRf6uiQm87ZWvxI+88fW45aZdl+WfX1rEkydewOMnTuCJ6RP4xosv4qKGrRg4/7u378Q/ /vM/jd07t6/K/s89+038oz/+E0zu2Im/+YPvwT233dbi//6Xv4x/9+nP4he/7514x6vuW9fXP/nk L8cfQ15LVqF+l09QaLIulFQAtfEuraCWAIOSXu8+RMwojb1e1T2OGFIoIQI3MA/4k0/+6viTu3bi /NISZnpnXZk2f2JLwv2HD+N7XnkP3nz3Xdg2tgUNxJzZy/C3TUzgDUeP4PW3H4ECWFy6iCenT+Az 3/gGPvfsN9A7f77MKBPg4O692L19G0SxJvvfdMed+MEHX4cfff0bMLlzx4D9kgR7d+3Ad93zSgvN rYPzP3XTLpxfXMLMmbMWUuzjb9mS8Bo/7995913YumWL8/Wy/O3j43jwjqN43e1HkQCcu7iEJ59/ AZ975ll89plncfbCBUua8weSg3v3YM/O7Xkxj8vZ/6ZX3IEfet1r8cNv8PPdx08Q7Nm1C2+75x5r t46vf/LJX44vCwtzGju6tJwAAOWXqzrUXyfXFZ8T53NOM1XzcYgfCyEKSALIJ3+t/OdmZ/Df/fvf RqP2Y3xo7yRefegAXn/7Edx/5Ai2bRm74vymafBnzx3DJ5/5Or7wjW/i3OISfvkH3o2H7r77qth/ fmkJ28bH19X5PzYzi7/5Wx9Ao/aMcXhyEvcdPIDX334HHjhyCFvHtlxx/qWmwSPPHcOnnnkGX3z2 G1hYqs77FbT//NJFbBsfW9H+633+ySd/Jb70enNaN65UKIKkyC5hgaJaCYZp5XVUcqJ9FXlQ9GlH Pvlr5H/u2WexfWICd916C3ZObL2m/MWLl/DIc8/hDXfcjpRkU53/zzz7LHZMbMU9t96C7RMT15S/ tHQRX3nuGN5wx+0YT2lTX//kk9/PLzf0LMlb94Xvq2l1/o8P/Iv4fDl7NUVFtLSrHBM0gCZF0mpj SvLJJ5988sknf2R+inu8qABqd+ghSigAAB1ISURBVPvsbJS0vSJHDBoT3eEeg40faF61K6yTaOcu Ssy/FxU0oiCffPLJJ5988rvz7Qnd0+CzR1C3Nbo1du8Cgrb3EdWqotohKX+LAHEbI0RBPvnkk08+ +eSPzk/RIB7bxcXV2fBQf6x3oeZ1aDnmkrUur8psqr17H05oBEVj8sknn3zyySe/Ez8BJQxgICMF OqprCoVCSUeLtufLtbLywi+xsuRaC+DhBKtJPvnkk08++eR348vCwpxCK+9BgVY6XqjWAOpL2Igf y+MBxRy04gKteIN9cC8CqlaUvA755JNPPvnkkz86P6nme7v9m4BYDt5cAcm1VQCIeQxNtch8A0By qp1rGnZlD6RQVMrOSuSTTz755JNPfnd+DtW3Huelgag/1Ec7AUSbyi1oXKkY4I+KgI0JSPY0xMWE 44F6xxnyySeffPLJJ78zP4XMFC1V7aAvNaeN5oiBDdWHgtJSSSs2xDa4iB1nAF8WL2bFu9NRtn8j n3zyySeffPK78JOPwdvjvBfXwsUFQxWCMsAPqK2jnFWOf01pU8Dei4cYstqq5nGY7eSTTz755JNP fke+9BZmVRu7s+eHfkGmiCrUN14Nb0B8XpxNn1NoFmcK+fi/mydmgFnmoQMv95n35JNPPvnkk09+ N770evM2ap8bSUmpD2dAgNhg3VWGIiEmvJtqWpqERbEDu3+MVyie3Ocgn3zyySeffPK78W2bdAHy GjPi69WJexVQ+099cnzECKIcCtsBFnlyPHKIwT2HBpbZF4clxhd8yj355JNPPvnkk9+JL73erCKC BQqIFGdCXICqWvacSGsSvEANoANOSFWnvWB9DjdINAqfg3zyySeffPLJH5Uvvd6cZrlpUCs7VkgR QRg0QULb1iGL8NvOMCpSvJgBBvnkk08++eSTPyo/aRRLESAIgs+OE8+tk3LcprMXzyNCAABi6xeI igcSLDsvnJJsVYQRyCeffPLJJ5/8TvwktcvQoAIkS5kv1bNilnUvWaH+lyTTvBELNmSZ/h5NMo9D BOSTTz755JNPfne+nO3NW0K8Iu+ZXnsLLqLVUEM1EYhWRz0KoIAnBYQmWg72/Y1cP/LJJ5988skn f3R+sgOFU69JGwGBvMINog6yp1Cy9DQrL0BJ0suqwdXwDD8tJeSTTz755JNPfje+Jc9BM7SkxUtR xCexmwbqbQU5IOCZehZC8LVlBTaYH2ZIvE/Q2DkmZ+iRTz755JNPPvmd+L3enBZxyB6AVhB3Hqo3 qMrF5tgpoCoQaaAqSMUJsbCAz8MLubUo8sknn3zyySe/Gz+hFibuWYRUCCC+CxzUwwhapElVLkDy JIBsjB8P78R2k7OwQ20E+eSTTz755JPfjZ+3TwWAvGVblqK5TGCP/ZqK19D44vDq2kZYIDsRCtST 6yLKIEhZefLJJ5988sknvzs/5aPwx/f4nL0FaaXPe0Y+bHs4E5ay3n0awkg52p+XuVFLvW/CEvLJ J5988sknvwvf572XBgLkee/2V9H4X6hD1L0MqIcXpHJLxOpK0dRWtzEtLcvP30VuP/nkk08++eST 34mf13LPy9YZ3T8LilqVztVnqT6pAKIpw+OgQKEqNkmugc/R8zc5Q4988sknn3zyyR+Vn3KRetP4 GJ+haMILQEuCrRubCwVJrX6ZG2d/GtiKOKqKlBpAFIpUmOSTTz755JNPfid+Ko2TKQJzHETNswiY +BZtWnkR5kAooE2lBBDhAMDHClyhBJinUssmn3zyySeffPI78xOgniFvi9DBoeYb2J1fsnruIEhj iqrTk4STgEjKlyBKsdQdmMoYk0o++eSTTz755HfjJ7gYUfWsOlcqxWR48dR5cYXtJYKy9qxqHgKI nD4VIJaxEynGROaeCTMh5JNPPvnkk09+N74sLMxpo14xuwD+inhBfai/Tq4rHlrw1eXDe8hhAwEk Vp7XXEcSQD755JNPPvnkd+MnzcK05QEAppCiEiBZPupiSwJQM0Zy02KMANrK2otKCvLJJ5988skn vzu/rBSXwhMI76Jq1CBX1PyvILL5EmKWndigf9QrRB8ncOMUHk6oFqojn3zyySeffPJH5nvuvEI8 gJ9T7hWQPEfOBWWQr32T23goH9peHD4cFgViFD9nAqqgscVpySeffPLJJ5/8jnzp9eZsND5p3P7R amt05Iy9GAZwaP2qi6SSUf4WAeI22hvyySeffPLJJ78LP0UD0VKI8DSydLHjLtS8Di3HXLLW5VWZ T7X3f43QCIrG5JNPPvnkk09+J34CShjAQEYKdFTXFAqFko4WhUrZUaadlRd+iZWlSOMHPJxgNckn n3zyySef/G58WViYU2jlPSjgM9bDFTCxDWCLydtMO0hxEtpP/1VcoBVvsA/uRXhigOcCkE8++eST Tz75nfhJNd/b7d8ECJKVqSvitVWASKVvGnERPvMuYgZwTcOu7IEUikrsOOOGkU8++eSTTz75nfg5 VN96nJcGebP1aCeAaFO5BY0rFQP8URGwMQHJnoa4mHA8UClDPvnkk08++eR356eQGevIQtUOiphz 0GiOGNhQfZnzVqukFRsisA3YizYNzDOpIwt5zh355JNPPvnkk9+Jn2LCu93grbgWLi4YqhCUAX5A Y5MXVzn+NaVNAXsvHmLIaquax2G2k08++eSTTz75HfnSW5hVbezOnh/6BZkiqtBkGoY3ID4vzqbP KTSLM4V8/N/NEzPALPPQgZf7zHvyySeffPLJJ78bX3q9eRu1z42kpNSHMyCwMQFELp6vieOCTTUt TcIilxmOS7xC8eQ+B/nkk08++eST342fNHsEvsaM+Hp14l4F1P5TnxyfF6X1cijUN1/PiX45xOCe QwPL7IvDEuMLPuWefPLJJ5988snvxJdeb1YRwQIFRIozIS5AVS17TqQ1CV6gBtABJ6SqU1arc1vN K5FoFD4H+eSTTz755JM/Kl96vTnNctOgVnaskCKCMGiChLatQxbht53YVaR4MQMM8sknn3zyySd/ VH7SKJYiQBAEnx0nnlsn5bhNZy+eR4QAAMTWLxCNDeIsOy+ckmxVhBHIJ5988sknn/xO/CS1y9Cg AiRLmS/Vs2KWdS9Zof6XJNO8EQs2ZJn+Hk0yj0ME5JNPPvnkk09+d76c7c1bQrwCHhloeQsuotVQ QzURiFZHPQqggCcFhCZaDvb9jVw/8sknn3zyySd/dH6yA4VTr0kbAYG8wg2iDrKnULL0NCsvQEnS y6rB1fAMPy0l5JNPPvnkk09+N74lz0EztKTFS1HEJ7GbBuptBTkg4Jl6FkLwtWUFNpgfZki8T9DY OSZn6JFPPvnkk08++Z34vd6cFnHIHoBWEHceqjeoysXm2CmgKhBpoCpIxQmxsIDPwwu5tSjyySef fPLJJ78bP6EWJu5ZhFQIIL4LHNTDCFqkSVUuQPIkgGyMHw/vxHaTs7BDbQT55JNPPvnkk9+Nn7dP BYC8ZVuWorlMYI/9morX0Pji8OraRlggOxEK1JPrIsogSFl58sknn3zyySe/Oz/lo/DH9/icvQVp pc97Rj5sezgTlrLefRrCSDnan5e5UUu9b8IS8sknn3zyySe/C9/nvZcGAuR57/ZX0fhfqEPUvQyo hxekckvE6krR1Fa3MS0ty8/fRW4/+eSTTz755JPfiZ/Xcs/L1hndPwuKWpXO1WepPqkAoinD46BA oSo2Sa6Bz9HzNzlDj3zyySeffPLJH5WfcpF60/gYn6FowgtAS4KtG5sLBUmtfpkbZ38a2Io4qoqU GkAUilSY5JNPPvnkk09+J34qjZMpAnMcRM2zCJj4Fm1aeRHmQCigTaUEEOEAwMcKXKEEmKdSyyaf fPLJJ5988jvzE6CeIW+L0MGh5hvYnV+yeu4gSGOKqtOThJOASMqXIEqx1B2YyhiTSj755JNPPvnk d+MnuBhR9aw6VyrFZHjx1Hlxhe0lgrL2rGoeAoicPhUglrETKcZE5p4JMyHkk08++eSTT343viws zGmjXjG7AP6KeEF9qL9OriseWvDV5cN7yGEDASRWntdcRxJAPvnkk08++eR34yfNwrTlAQCmkKIS IFk+6mJLAlAzRnLTYowA2srai0oK8sknn3zyySe/O7+sFJfCEwjvomrUIFfU/K8gsvkSYpad2KB/ 1CtEHydw4xQeTqgWqiOffPLJJ5988kfme+68QjyAn1PuFZA8R84FZZCvfZPbeCgf2l4cPhwWBWIU P2cCqqCxxWnJJ5988sknn/yOfOn15mw0Pmnc/tFqa3TkjL0YBnBo/aqLpJJR/hYB4jbaG/LJJ598 8sknvws/RQPRUojwNLJ0seMu1LwOLcdcstblVZlPtfd/jdAIisbkk08++eSTT34nfgJKGMBARgp0 VNcUCoWSjhaFStlRpp2VF36JlaVI4wc8nGA1ySeffPLJJ5/8bnxZWJhTaOU9KOAz1sMVMLENYIvJ 20w7SHES2k//VVygFW+wD+5FeGKA5wKQTz755JNPPvmd+Ek139vt3wQIkpWpK+K1VYBIpW8acRE+ 8y5iBnBNw67sgRSKSuw444aRTz755JNPPvmd+DlU33qclwZ5s/VoJ4BoU7kFjSsVA/xREbAxAcme hriYcDxQKUM++eSTTz755Hfnp5AZ68hC1Q6KmHPQaI4Y2FB9mfNWq6QVGyKwDdiLNg3MM6kjC3nO Hfnkk08++eST34mfYsK73eCtuBYuLhiqEJQBfkBjkxdXOf41pU0Bey8eYshqq5rHYbaTTz755JNP Pvkd+dJbmFVt7M6eH/oFmSKq0GQahjcgPi/Ops8pNIszhXz8380TM8As89CBl/vMe/LJJ5988skn vxtfer15G7XPjaSk1IczILAxAUQunq+J44JNNS1NwiKXGY5LvELx5D4H+eSTTz755JPfjZ80ewS+ xoz4enXiXgXU/lOfHJ8XpfVyKNQ3X8+JfjnE4J5DA8vsi8MS4ws+5Z588sknn3zyye/El15vVhHB AgVEijMhLkBVLXtOpDUJXqAG0AEnpKpTVqtzW80rkWgUPgf55JNPPvnkkz8qX3q9Oc1y06BWdqyQ IoIwaIKEtq1DFuG3ndhVpHgxAwzyySeffPLJJ39UftIoliJAEASfHSeeWyfluE1nL55HhAAAxNYv EI0N4iw7L5ySbFWEEcgnn3zyySef/E78JLXL0KACJEuZL9WzYpZ1L1mh/pck07wRCzZkmf4eTTKP QwTkk08++eSTT353vpztzVtCvAIeGWh5Cy6i1VBDNRGIVkc9CqCAJwWEJloO9v2NXD/yySeffPLJ J390frIDhVOvSRsBgbzCDaIOsqdQsvQ0Ky9ASdLLqsHV8Aw/LSXkk08++eSTT343viXPQTO0pMVL UcQnsZsG6m0FOSDgmXoWQvC1ZQU2mB9mSLxP0Ng5JmfokU8++eSTTz75nfi93pwWccgegFYQdx6q N6jKxebYKaAqEGmgKkjFCbGwgM/DC7m1KPLJJ5988sknvxs/oRYm7lmEVAggvgsc1MMIWqRJVS5A 8iSAbIwfD+/EdpOzsENtBPnkk08++eST342ft08FgLxlW5aiuUxgj/2aitfQ+OLw6tpGWCA7EQrU k+siyiBIWXnyySeffPLJJ787P+Wj8Mf3+Jy9BWmlz3tGPmx7OBOWst59GsJIOdqfl7lRS71vwhLy ySeffPLJJ78L3+e9lwYC5Hnv9lfR+F+oQ9S9DKiHF6RyS8TqStHUVrcxLS3Lz99Fbj/55JNPPvnk k9+Jn9dyz8vWGd0/C4palc7VZ6k+qQCiKcPjoEChKjZJroHP0fM3OUOPfPLJJ5988skflZ9ykXrT +BifoWjCC0BLgq0bmwsFSa1+mRtnfxrYijiqipQaQBSKVJjkk08++eSTT34nfiqNkykCcxxEzbMI mPgWbVp5EeZAKKBNpQQQ4QDAxwpcoQSYp1LLJp988sknn3zyO/MToJ4hb4vQwaHmG9idX7J67iBI Y4qq05OEk4BIypcgSrHUHZjKGJNKPvnkk08++eR34ye4GFH1rDpXKsVkePHUeXGF7SWCsvasah4C iJw+FSCWsRMpxkTmngkzIeSTTz755JNPfje+LCzMaaNeMbsA/op4QX2ov06uKx5a8NXlw3vIYQMB JFae11xHEkA++eSTTz755HfjJ83CtOUBAKaQohIgWT7qYksCUDNGctNijADaytqLSgryySeffPLJ J787v6wUl8ITCO+iatQgV9T8ryCy+RJilp3YoH/UK0QfJ3DjFB5OqBaqI5988sknn3zyR+Z77rxC PICfU+4VkDxHzgVlkK99k9t4KB/aXhw+HBYFYhQ/ZwKqoLHFacknn3zyySef/I586fXmbDQ+adz+ 0WprdOSMvRgGcGj9qoukklH+FgHiNtob8sknn3zyySe/Cz9FA9FSiPA0snSx4y7UvA4tx1yy1uVV mU+193+N0AiKxuSTTz755JNPfid+AkoYwEBGCnRU1xQKhZKOFoVK2VGmnZUXfomVpUjjBzycYDXJ J5988sknn/xufFlYmFNo5T0o4DPWwxUwsQ1gi8nbTDtIcRLaT/9VXKAVb7AP7kV4YoDnApBPPvnk k08++Z34STXf2+3fBAiSlakr4rVVgEilbxpxET7zLmIGcE3DruyBFIpK7DjjhpFPPvnkk08++Z34 OVTfepyXBnmz9WgngGhTuQWNKxUD/FERsDEByZ6GuJhwPFApQz755JNPPvnkd+enkBnryELVDoqY c9BojhjYUH2Z81arpBUbIrAN2Is2DcwzqSMLec4d+eSTTz755JPfiZ9iwrvd4K24Fi4uGKoQlAF+ QGOTF1c5/jWlTQF7Lx5iyGqrmsdhtpNPPvnkk08++R350luYVW3szp4f+gWZIqrQZBqGNyA+L86m zyk0izOFfPzfzRMzwCzz0IGX+8x78sknn3zyySe/G196vXkbtc+NpKTUhzMgsDEBRC6er4njgk01 LU3CIpcZjku8QvHkPgf55JNPPvnkk9+NnzR7BL7GjPh6deJeBdT+U58cnxel9XIo1Ddfz4l+OcTg nkMDy+yLwxLjCz7lnnzyySeffPLJ78SXXm9WEcECBUSKMyEuQFUte06kNQleoAbQASekqlNWq3Nb zSuRaBQ+B/nkk08++eSTPypfer05zXLToFZ2rJAigjBogoS2rUMW4bed2FWkeDEDDPLJJ5988skn f1R+0iiWIkAQBJ8dJ55bJ+W4TWcvnkeEAADE1i8QjQ3iLDsvnJJsVYQRyCeffPLJJ5/8TvwktcvQ oAIkS5kv1bNilnUvWaH+lyTTvBELNmSZ/h5NMo9DBOSTTz755JNPfne+nO3NW0K8Ah4ZaHkLLqLV UEM1EYhWRz0KoIAnBYQmWg72/Y1cP/LJJ5988sknf3R+sgOFU69JGwGBvMINog6yp1Cy9DQrL0BJ 0suqwdXwDD8tJeSTTz755JNPfje+Jc9BM7SkxUtRxCexmwbqbQU5IOCZehZC8LVlBTaYH2ZIvE/Q 2DkmZ+iRTz755JNPPvmd+L3enBZxyB6AVhB3Hqo3qMrF5tgpoCoQaaAqSMUJsbCAz8MLubUo8skn n3zyySe/Gz+hFibuWYRUCCC+CxzUwwhapElVLkDyJIBsjB8P78R2k7OwQ20E+eSTTz755JPfjZ+3 TwWAvGVblqK5TGCP/ZqK19D44vDq2kZYIDsRCtST6yLKIEhZefLJJ5988sknvzs/5aPwx/f4nL0F aaXPe0Y+bHs4E5ay3n0awkg52p+XuVFLvW/CEvLJJ5988sknvwvf572XBgLkee/2V9H4X6hD1L0M qIcXpHJLxOpK0dRWtzEtLcvP30VuP/nkk08++eST34mf13LPy9YZ3T8LilqVztVnqT6pAKIpw+Og QKEqNkmugc/R8zc5Q4988sknn3zyyR+Vn3KRetP4GJ+haMILQEuCrRubCwVJrX6ZG2d/GtiKOKqK lBpAFIpUmOSTTz755JNPfid+Ko2TKQJzHETNswiY+BZtWnkR5kAooE2lBBDhAMDHClyhBJinUssm n3zyySeffPI78xOgniFvi9DBoeYb2J1fsnruIEhjiqrTk4STgEjKlyBKsdQdmMoYk0o++eSTTz75 5HfjJ7gYUfWsOlcqxWR48dR5cYXtJYKy9qxqHgKInD4VIJaxEynGROaeCTMh5JNPPvnkk09+N74s LMxpo14xuwD+inhBfai/Tq4rHlrw1eXDe8hhAwEkVp7XXEcSQD755JNPPvnkd+MnzcK05QEAppCi EiBZPupiSwJQM0Zy02KMANrK2otKCvLJJ5988sknvzu/rBSXwhMI76Jq1CBX1PyvILL5EmKWndig f9QrRB8ncOMUHk6oFqojn3zyySeffPJH5nvuvEI8gJ9T7hWQPEfOBWWQr32T23goH9peHD4cFgVi FD9nAqqgscVpySeffPLJJ5/8jnzp9eZsND5p3P7Ramt05Iy9GAZwaP2qi6SSUf4WAeI22hvyySef fPLJJ78LP0UD0VKI8DSydLHjLtS8Di3HXLLW5VWZT7X3f43QCIrG5JNPPvnkk09+J34CShjAQEYK dFTXFAqFko4WhUrZUaadlRd+iZWlSOMHPJxgNcknn3zyySef/G58WViYU2jlPSjgM9bDFTCxDWCL ydtMO0hxEtpP/1VcoBVvsA/uRXhigOcCkE8++eSTTz75nfhJNd/b7d8ECJKVqSvitVWASKVvGnER PvMuYgZwTcOu7IEUikrsOOOGkU8++eSTTz75nfg5VN96nJcGebP1aCeAaFO5BY0rFQP8URGwMQHJ noa4mHA8UClDPvnkk08++eR356eQGevIQtUOiphz0GiOGNhQfZnzVqukFRsisA3YizYNzDOpIwt5 zh355JNPPvnkk9+Jn2LCu93grbgWLi4YqhCUAX5AY5MXVzn+NaVNAXsvHmLIaquax2G2k08++eST Tz75HfnSW5hVbezOnh/6BZkiqtBkGoY3ID4vzqbPKTSLM4V8/N/NEzPALPPQgZf7zHvyySeffPLJ J78bX3q9eRu1z42kpNSHMyCwMQFELp6vieOCTTUtTcIilxmOS7xC8eQ+B/nkk08++eST342fNHsE vsaM+Hp14l4F1P5TnxyfF6X1cijUN1/PiX45xOCeQwPL7IvDEuMLPuWefPLJJ5988snvxJdeb1YR wQIFRIozIS5AVS17TqQ1CV6gBtABJ6SqU1arc1vNK5FoFD4H+eSTTz755JM/Kl96vTnNctOgVnas kCKCMGiChLatQxbht53YVaR4MQMM8sknn3zyySd/VH7SKJYiQBAEnx0nnlsn5bhNZy+eR4QAAMTW LxCNDeIsOy+ckmxVhBHIJ5988sknn/xO/CS1y9CgAiRLmS/Vs2KWdS9Zof6XJNO8EQs2ZJn+Hk0y j0ME5JNPPvnkk09+d76c7c1bQrwCHhloeQsuotVQQzURiFZHPQqggCcFhCZaDvb9jVw/8sknn3zy ySd/dH6yA4VTr0kbAYG8wg2iDrKnULL0NCsvQEnSy6rB1fAMPy0l5JNPPvnkk09+N74lz0EztKTF S1HEJ7GbBuptBTkg4Jl6FkLwtWUFNpgfZki8T9DYOSZn6JFPPvnkk08++Z34vd6cFnHIHoBWEHce qjeoysXm2CmgKhBpoCpIxQmxsIDPwwu5tSjyySeffPLJJ78bP6EWJu5ZhFQIIL4LHNTDCFqkSVUu QPIkgGyMHw/vxHaTs7BDbQT55JNPPvnkk9+Nn7dPBYC8ZVuWorlMYI/9morX0Pji8OraRlggOxEK 1JPrIsogSFl58sknn3zyySe/Oz/lo/DH9/icvQVppc97Rj5sezgTlrLefRrCSDnan5e5UUu9b8IS 8sknn3zyySe/C9/nvZcGAuR57/ZX0fhfqEPUvQyohxekckvE6krR1Fa3MS0ty8/fRW4/+eSTTz75 5JPfiZ/Xcs/L1hndPwuKWpXO1WepPqkAoinD46BAoSo2Sa6Bz9HzNzlDj3zyySeffPLJH5X//wfZ 3sCzOHWnMQAAAHhlWElmTU0AKgAAAAgABAEaAAUAAAABAAAAPgEbAAUAAAABAAAARgEoAAMAAAAB AAIAAIdpAAQAAAABAAAATgAAAAAAAACQAAAAAQAAAJAAAAABAAOgAQADAAAAAQABAACgAgAEAAAA AQAAAfSgAwAEAAAAAQAAAfQAAAAApeN2IQAAACV0RVh0ZGF0ZTpjcmVhdGUAMjAyMS0wMi0yNVQw NjoxMTo0NCswMDowMD/JCNgAAAAldEVYdGRhdGU6bW9kaWZ5ADIwMjEtMDItMjVUMDY6MTE6NDQr MDA6MDBOlLBkAAAAEXRFWHRleGlmOkNvbG9yU3BhY2UAMQ+bAkkAAAASdEVYdGV4aWY6RXhpZk9m ZnNldAA3OMnUeycAAAAYdEVYdGV4aWY6UGl4ZWxYRGltZW5zaW9uADUwMEE76LEAAAAYdEVYdGV4 aWY6UGl4ZWxZRGltZW5zaW9uADUwMNw0CccAAAAASUVORK5CYII="/>
</svg>


                </h1>
                <h2 class="mv0 f5 dib">一起幫助需要幫助的人</h2>
            </a>
        </div>
        <div class="w-50-l ph5-ns ph4 pv6-l pt3-ns pv4 bg-white-l">
            <div class="nt3 mt0-ns mb4"></div>

            <h3 class="b f4">註冊帳號</h3>
            <a class="button b bg-fb white pa3 ba b--blue mb3 mr3" href="/users/auth/facebook">Facebook 註冊</a>
            或
            @*<form class="new_user" id="new_user" action="/users" accept-charset="UTF-8" method="post">
                <input name="utf8" type="hidden" value="✓"><input type="hidden" name="authenticity_token" value="MF0FgDTlkQn5iC3aS+8lHj2YptSaowZKgLayc3sHbCXv1pyTbIAWR4C3Lo0idR5krz2FHCU2cMNoBPW40xigVg==">*@
            <div class="js-details reset-details mb3 f6">


                <div class="mt3">


                    @*@using (Html.BeginForm("SignUp", "Members", FormMethod.Post, new { novalidate = "novalidate" }))*@
                    <!--{-->

                    <div>
                        <form @*onsubmit="return checkinput()"*@>
                            <div>
                                @*@Html.HiddenFor(m => m.userLevel, new { Value = "5" })

        @Html.LabelFor(m => m.lastName, "姓氏 ", new { @class = "b" })
        @Html.TextBoxFor(m => m.lastName, new { @class = "w-100", placeholder = "請輸入姓氏" })
        @Html.ValidationMessageFor(m => m.lastName, "", new { @class = "text-danger" })

        @Html.LabelFor(m => m.firstName, "姓名", new { @class = "b" })
        @Html.TextBoxFor(m => m.firstName, new { @class = "w-100", placeholder = "請輸姓名" })
        @Html.ValidationMessageFor(m => m.firstName, "", new { @class = "text-danger" })

        @Html.LabelFor(m => m.birthday, "生日", new { @class = "b" })
        @Html.TextBoxFor(m => m.birthday, new { @class = "w-100", placeholder = "請輸入生日:西元/月/日" })
        @Html.ValidationMessageFor(m => m.birthday, "", new { @class = "text-danger" })

        @Html.LabelFor(m => m.identyNumebr, "身分證字號", new { @class = "b" })
        @Html.TextBoxFor(m => m.identyNumebr, new { @class = "w-100", placeholder = "請輸入身分證字號" })
        @Html.ValidationMessageFor(m => m.identyNumebr, "", new { @class = "text-danger" })

        @Html.LabelFor(m => m.userAccount, "用戶暱稱", new { @class = "b" })
        @Html.TextBoxFor(m => m.userAccount, new { @class = "w-100", placeholder = "請輸入用戶暱稱" })
        @Html.ValidationMessageFor(m => m.userAccount, "", new { @class = "text-danger" })

        @Html.LabelFor(m => m.email, "E-mail", new { @class = "b" })
        @Html.TextBoxFor(m => m.email, new { @class = "w-100", placeholder = "請輸入E-mail" })
        @Html.ValidationMessageFor(m => m.email, "", new { @class = "text-danger" })

        @Html.LabelFor(m => m.userPassWord, "密碼", new { @class = "b" })
        @Html.PasswordFor(m => m.userPassWord, new { @class = "w-100", placeholder = "請輸入會員密碼" })
        @Html.ValidationMessageFor(m => m.userPassWord, "", new { @class = "text-danger" })

        @Html.LabelFor(m => m.ConfirmPassowrd, "確認密碼", new { @class = "b" })
        @Html.PasswordFor(m => m.ConfirmPassowrd, new { @class = "w-100", placeholder = " 確認密碼" })
        @Html.ValidationMessageFor(m => m.ConfirmPassowrd, "", new { @class = "text-danger" })



        @Html.LabelFor(m => m.address, "住址", new { @class = "b" })
        @Html.TextBoxFor(m => m.address, new { @class = "w-100", placeholder = "請輸入住址" })
        @Html.ValidationMessageFor(m => m.address, "", new { @class = "text-danger" })

        @Html.LabelFor(m => m.city, "縣市", new { @class = "b" })
        @Html.TextBoxFor(m => m.city, new { @class = "w-100", placeholder = "請輸入所在縣市" })
        @Html.ValidationMessageFor(m => m.city, "", new { @class = "text-danger" })

        @Html.LabelFor(m => m.phoneNumber, "手機號碼", new { @class = "b" })
        @Html.TextBoxFor(m => m.phoneNumber, new { @class = "w-100", placeholder = "請輸入手機號碼" })
        @Html.ValidationMessageFor(m => m.phoneNumber, "", new { @class = "text-danger" })

        @Html.LabelFor(m => m.proFileImg, "大頭照", new { @class = "b" })
        @Html.TextBoxFor(m => m.proFileImg, new { @class = "w-100", type = "file" })
        @Html.ValidationMessageFor(m => m.proFileImg, "", new { @class = "text-danger" })*@














                                <label class="b" for="userAccount">用戶帳號</label>
                                <input class="w-100" required="required" autofocus="autofocus" type="text" name="userAccount" id="userAccount">
                                <label class="b" for="userPassWord">密碼</label>
                                <input class="w-100" required="required" autofocus="autofocus" type="password" name="userPassWord" id="userPassWord">
                                <label class="b" for="userPassWordCheck">確認密碼</label>
                                <input class="w-100" required="required" autofocus="autofocus" type="password" name="userPassWordCheck" id="userPassWordCheck">
                                <label class="b" for="city">城市</label>
                                <input class="w-100" required="required" type="text" name="city" id="city">
                                <label class="b" for="address"> 地址</label>
                                <input class="w-100" required="required" type="text" name="address" id="address">
                                @*<label class="b" for="user_password_confirmation">確認密碼</label>
        <input class="w-100" required="required" minlength="6" type="password" name="user[password_confirmation]" id="user_password_confirmation">*@
                                <label class="b" for="phoneNumber">手機號碼</label>
                                <input class="w-100" required="required" autofocus="autofocus" type="text" name="phoneNumber" id="phoneNumber">
                                <label class="b" for="firstName">名字</label>
                                <input class="w-100" required="required" autofocus="autofocus" type="text" name="firstName" id="firstName">
                                <label class="b" for="lastName">姓氏</label>
                                <input class="w-100" required="required" autofocus="autofocus" type="text" name="lastName" id="lastName">
                                <label class="b" for="birthday">生日</label>
                                <input class="w-100" required="required" autofocus="autofocus" type="date" name="birthday" id="birthday">
                                <label class="b" for="identityNumber">身分證字號</label>
                                <input class="w-100" required="required" autofocus="autofocus" type="text" name="identityNumber" id="identityNumber">
                                <label class="b" for="profileImg">個人頭像</label>
                                <input class="w-100" required="required" autofocus="autofocus" type="file" name="profileImg" id="profileImg">
                                <label class="b" for="selfDescription">個人簡介</label>
                                <textarea class="w-100" required="required" autofocus="autofocus" type="text" name="selfDescription" id="selfDescription"> </textarea>
                                <label class="b" for="email">信箱</label>
                                <input class="w-100" required="required" autofocus="autofocus" type="email" name="email" id="email">
                            </div>

                            <div>
                                @*<input type="submit" value="註冊" class="btn btn-primary"  onclick="myFunction()"/>*@

                                <button type="submit" id="p1" class="btn btn-primary" onclick="myFunction()">註冊</button>
                                @*<h3 class="text-danger">@Html.ValidationSummary()</h3>*@
                            </div>
                        </form>
                        

                    </div>
                    @*}*@



                    <label class="f6">
                        <input name="user[remember_me]" type="hidden" value="0"><input type="checkbox" value="1" checked="checked" name="user[remember_me]" id="user_remember_me">
                        記得我的帳號，下次自動登入
                    </label>
                    @*<div class="mt3">
                            <input type="submit" name="commit" value="註冊" class="button b green">
                        </div>*@
                </div>
                <p class="f7 gray">繼續進行代表你同意<a href="/docs/terms_of_service">服務條款</a>。</p>
            </div>

            <div class="mv4-ns mv3 bt b--light-gray"></div>
            <a class="link b f6 hover-blue black mr3" href="/Members/Login">登入</a>
            @*@Html.ActionLink("登入", "Login", "Members")*@
            <a class="link b f6 hover-blue black mr3" href="/users/password/new">忘記密碼或重設密碼</a>


        </div>
    </div>





    @*<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>*@
 
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script>

        //function checkinput() {
        //    // 檢查登入帳號是否有特殊字元
        //    var re = /[^a-zA-Z0-9.-_]/;
        //    var okname = re.exec(document.getElementById("userAccount").value);
        //    if (okname) {
        //        window.alert("指允許英文、數字、底線、小數點與減號");
        //        document.getElementById("userAccount").focus();
        //        return false;
        //    }

        //    // 開始檢查密碼長度是否正確？
        //    var pw1 = document.getElementById("userPassWord");
        //    if (pw1.value.length < 5) {
        //        window.alert("密碼長度必須要大於 5 個字元以上");
        //        document.getElementById("userPassWord").focus();
        //        return false;
        //    }

        //    // 看看兩次密碼是否相同？
        //    var pw2 = document.getElementById("userPassWordCheck");
        //    if (pw1.value != pw2.value) {
        //        window.alert("兩次密碼並不相同！");
        //        document.getElementById("userPassWordCheck").focus();
        //        return false;
        //    }

        //    // 檢查生日的格式正確與否
        //    re = /^[0-9]{4}[./-][0-9]{2}[./-][0-9]{2}$/;
        //    var okday = re.exec(document.getElementById("birthday").value);
        //    if (!okday) {
        //        window.alert("日期格式為 2011-11-11");
        //        document.getElementById("birthday").focus();
        //        return false;
        //    }
        //}
     












         function myFunction() {
             $(document).ready(function () {
                 

                var userAccount2 = $("#userAccount").val();
                var userPassWord2 = $("#userPassWord").val();
                var city2 = $("#city").val();
                var address2 = $("#address").val();
                var phoneNumber2 = $("#phoneNumber").val();
                var firstName2= $("#firstName").val();
                var lastName2 = $("#lastName").val();
                var birthday2 = $("#birthday").val();
                var identityNumber2 = $("#identityNumber").val();
                var profileImg2 = $("#profileImg").val();
                var selfDescription2 = $("#selfDescription").val();
                var email2 = $("#email").val();


                $.ajax({

                    type: "POST",
                    url: " /Members/SignUpMethod",
                    data: {


                            userAccount: userAccount2 ,
                        userPassWord: userPassWord2,
                        city: city2,
                        address: address2,
                        phoneNumber: phoneNumber2,
                        firstName: firstName2,
                        lastName: lastName2,
                        birthday: birthday2,
                        identityNumber: identityNumber2,
                        profileImg: profileImg2,
                        selfDescription: selfDescription2,
                        email: email2






                    },

                    success: function (data) {
                        alert(data);
                        window.location.reload();
                        }

                    });

            });

        }

    </script>
</body>

</html>
