<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WhoHelps index</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    <link href="~/Maimai/layout/css/layout.css" rel="stylesheet" />
    <link href="~/Maimai/layout/css/style_1.css" rel="stylesheet" />


    <title>@Page.Title</title>
</head>
@RenderSection("head", required: false)


<body>
    <nav class="nav">
        <div class="container d-flex">
            <div class="logo col-md-1">
                <a href="#"><img class="footerLogo1" src="~/Maimai/images/svg/maimaiTOPLOGO.svg" /></a>
            </div>

            <div class=" col-md-8 dropdown ml-3">
                <div class=" dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <img class="ml-1" src="~/Maimai/images/svg/135-search.svg" />
                    <input Placeholder="Search " class="dropdown-search" />
                </div>
                <div class="Ajax-search-dropdown dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <div class="dropdown-item">
                        <a class="Ajax-search-dropdown-img" href="">
                            <img src="~/Maimai/images/image jpeg/abf1b3dc2cab2c7d949228687c84013c.jpg"
                                 style="position: relative;" />
                            <div style="position: absolute;z-index: 2;left: 50px;top: 30px;color: #FFFFFF;font-weight: bold;
                                                  ">
                                添加文字...
                            </div>
                        </a>
                    </div>
                </div>
            </div>


            <div id="mainListDiv" class="main_list">
                <div class="navlinks d-flex">
                    <div class="svglink"><a href="#">@*About*@<img src="~/Maimai/images/svg/073-location2.svg"></a></div>
                    <div class="svglink"><a href="#">@*Portfolio*@<img src="~/Maimai/images/svg/076-map.svg"></a></div>
                    <div class="svglink"><a href="#">@*Services*@<img src="~/Maimai/images/svg/082-bell.svg"></a></div>
                    @*<li><a href="#">Contact</a></li>*@
                    <div class="svglink">
                        @*登入*@
                        @*@if (Request.Cookies["LoginName"] != null)
                            {
                                <img  src="~/Maimai/images/svg/073-location2.svg" />
                            }*@
                        <button class="btn" type="button" data-toggle="collapse" data-target="#collapseExample"
                                aria-expanded="false" aria-controls="collapseExample">
                            <svg width="24" height="24" viewBox="0 0 24 24">
                                <g id="组_21" data-name="组 21" transform="translate(-503.347 98.687)">
                                    <path id="Path_140" data-name="Path 140"
                                          d="M507.347-75.687a8,8,0,0,1,8-8,8,8,0,0,1,8,8h-2a6,6,0,0,0-6-6,6,6,0,0,0-6,6Zm8-10a6,6,0,0,1-6-6,6,6,0,0,1,6-6,6,6,0,0,1,6,6A6,6,0,0,1,515.347-85.687Zm0-2a4,4,0,0,0,4-4,4,4,0,0,0-4-4,4,4,0,0,0-4,4A4,4,0,0,0,515.347-87.687Z"
                                          fill="#f5efef"></path>
                                </g>
                            </svg>
                        </button> @*會員圖示 end*@

                        @*登入end*@
                        @if (Request.Cookies["LoginName"] == null)
                        {
                            <div class="collapse" id="collapseExample">
                                <div>
                                    <span>@Html.ActionLink("註冊", "SignUp", "Members", null, new { @class = "free-text" })</span>
                                    <span>@Html.ActionLink("登入", "Login", "Members", null, new { @class = "free-text" })</span>
                                </div>
                            </div> @*左右收起1 end*@
                        }
                        else
                        {
                            @*<span class=" mx-2">
                                    @Request.Cookies["LoginName"].Value
                                </span>*@
                            <div class="d-flex " style="display:none">
                                <div class="d-flex  ml-1">
                                </div>
                                <div class="collapse " id="collapseExample">
                                    <div class="dropdown free-text">
                                        <a class="dropdown-toggle" href="#" data-toggle="dropdown">帳戶</a>
                                        <ul class="dropdown-menu">
                                            <li>@Html.ActionLink("帳戶", "myAccountIndex", "MyAccount", null, new { @class = "dropdown-item" })</li>
                                            <li><a class="dropdown-item" href="#">@Html.ActionLink("登出", "Logout", "Members")</a></li>
                                        </ul>
                                    </div>
                                    <div class="free-text dropdown ">
                                        <a class="dropdown-toggle" href="#" data-toggle="dropdown">賣場</a>
                                        <ul class="dropdown-menu">

                                            <li>@Html.ActionLink("個人賣場", "Personal_Index", "PersonalMarket", null, new { @class = "dropdown-item" })</li>
                                            <li>@Html.ActionLink("訂單管理", "", "", null, new { @class = "dropdown-item" })</li>
                                            @if (Request.Cookies["LoginAccount"].Value == null)
                                            {
                                                <li>@Html.ActionLink("徵求台", "requiredPostIndex", "RequiredPost", null, new { @class = "dropdown-item" })</li>
                                            }
                                            else
                                            {
                                                <li>@Html.ActionLink("徵求台", "requiredPostIndexWithLogin", "RequiredPost", null, new { @class = "dropdown-item" })</li>
                                            }
                                        </ul>
                                    </div>
                                    @if (Convert.ToInt32(Request.Cookies["MemberLevel"].Value) == 1)
                                    {
                                        <span>@Html.ActionLink("後台", "backstageIndex", "backstage", null, new { @class = "free-text" })</span>
                                    }
                                </div>
                                @*左右收起2end*@
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </nav>




    @RenderBody()
    <footer>
        <hr>
        <div class="container d-flex mt-1 mb-2" id="footer">
            <div class=" mx-2">
                <img class="footerLogo" src="~/Maimai/images/svg/maimaiTOPLOGO.svg">
            </div>
            <div class="">
                <div class="ml-5">
                    <h5>關於我們</h5>
                    <a href="#">Team 4</a><br>
                    <a href="#">組長：黃士豪</a><br>
                    <a href="#">技術長：蕭祥耀</a><br>
                    <a href="#">組員：黃立恆、徐家雯、黃建寧</a><br>
                </div>
            </div>
            <div class="">
                <div class="ml-5">
                    <h5>歡迎企業合作</h5>
                    <a href="#">經銷商合作</a><br>
                    <a href="#">全球保固</a><br>
                    <a href="#">招募新夥伴</a><br>
                </div>
            </div>
            <div class="">
                <div class="ml-5">
                    <h5>語言</h5>
                    <select class="langSelect">
                        <option selected>繁體中文</option>
                        <option value="en">English</option>
                        <option value="es">Español</option>
                        <option value="fr">Français</option>
                        <option value="de">Deutsch</option>
                        <option value="cn">简体中文</option>
                        <option value="jp">日本語</option>
                        <option value="ru">Русский</option>
                    </select><br>
                    <a href="#">客戶服務中心</a>
                </div>
            </div>
        </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.5.1.js"
            integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
            integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
            integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
            crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    @*<script src="~/Scripts/bootstrap.js"></script>*@
    <script>
        $(window).scroll(function () {
            if ($(document).scrollTop() > 20) {
                $('.nav').addClass('affix');

                console.log("OK");
            } else {
                $('.nav').removeClass('affix');
            }
        });
    </script>
</body>
</html>
